In [1]:
! pip install selenium --upgrade

Requirement already satisfied: selenium in ./opt/anaconda3/lib/python3.9/site-packages (4.8.2)
Requirement already satisfied: trio~=0.17 in ./opt/anaconda3/lib/python3.9/site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in ./opt/anaconda3/lib/python3.9/site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in ./opt/anaconda3/lib/python3.9/site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in ./opt/anaconda3/lib/python3.9/site-packages (from selenium) (1.26.9)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: async-generator>=1.9 in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=19.2.0 in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sniffio in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in ./opt/anaconda3/lib/python3.9/site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in ./opt/anaconda3/lib/python3.9/site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in ./opt/anaconda3/lib/python3.9/site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

MOST VIEWED YOUTUBE VIDEO

In [2]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException, NoSuchElementException
import pandas as pd

url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver = webdriver.Chrome()

try:
    driver.get(url)
    WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.CLASS_NAME, "wikitable")))
    table = driver.find_element(By.CLASS_NAME, "wikitable")
    rows = table.find_elements(By.TAG_NAME, "tr")
    
    data = []
    for row in rows[1:]:
        try:
            rank = row.find_elements(By.TAG_NAME, 'td')[0].text
            name = row.find_elements(By.TAG_NAME, 'td')[1].text
            artist = row.find_elements(By.TAG_NAME, 'td')[2].text
            views = row.find_elements(By.TAG_NAME, 'td')[3].text
            upload_date = row.find_elements(By.TAG_NAME, 'td')[4].text
            data.append([rank, name, artist, views, upload_date])
        except IndexError:
            pass
        
    df = pd.DataFrame(data, columns=["Rank", "Name", "Artist", "Views", "Upload Date"])
    print(df)
    
except TimeoutException:
    print("Timed out waiting for page to load")
except NoSuchElementException:
    print("Element not found")

   Rank                                             Name  \
0    1.                            "Baby Shark Dance"[4]
1    2.                                   "Despacito"[7]
2    3.                       "Johny Johny Yes Papa"[14]
3    4.                                  "Bath Song"[15]
4    5.                               "Shape of You"[16]
5    6.                              "See You Again"[18]
6    7.                "Phonics Song with Two Words"[23]
7    8.                          "Wheels on the Bus"[24]
8    9.                                "Uptown Funk"[25]
9   10.  "Learning Colors – Colorful Eggs on a Farm"[26]
10  11.                              "Gangnam Style"[27]
11  12.   "Masha and the Bear – Recipe for Disaster"[32]
12  13.                             "Dame Tu Cosita"[33]
13  14.                                      "Sugar"[34]
14  15.                                     "Axel F"[35]
15  16.                                       "Roar"[36]
16  17.                             "Counting Stars"[37]
17  18.                                      "Sorry"[38]
18  19.                          "Thinking Out Loud"[39]
19  20.                        "Baa Baa Black Sheep"[40]
20  21.           "Waka Waka (This Time for Africa)"[41]
21  22.                                 "Dark Horse"[42]
22  23.                                      "Faded"[43]
23  24.                                 "Let Her Go"[44]
24  25.                             "Girls Like You"[45]
25  26.                                    "Perfect"[46]
26  27.                                   "Bailando"[47]
27  28.                                    "Lean On"[48]
28  29.                             "Lakdi Ki Kathi"[49]
29  30.          "Humpty the train on a fruits ride"[50]

                                           Artist  Views        Upload Date
0     Pinkfong Baby Shark - Kids' Songs & Stories  12.37      June 17, 2016
1                                      Luis Fonsi   8.09   January 12, 2017
2                                     LooLoo Kids   6.63    October 8, 2016
3                      Cocomelon – Nursery Rhymes   6.03        May 2, 2018
4                                      Ed Sheeran   5.92   January 30, 2017
5                                     Wiz Khalifa   5.79      April 6, 2015
6                                       ChuChu TV   5.17      March 6, 2014
7                      Cocomelon – Nursery Rhymes   4.95       May 24, 2018
8                                     Mark Ronson   4.84  November 19, 2014
9                                     Miroshka TV   4.83  February 27, 2018
10                                            Psy   4.70      July 15, 2012
11                                     Get Movies   4.53   January 31, 2012
12                                      El Chombo   4.24      April 5, 2018
13                                       Maroon 5   3.82   January 14, 2015
14                                     Crazy Frog   3.76      June 16, 2009
15                                     Katy Perry   3.73  September 5, 2013
16                                    OneRepublic   3.73       May 31, 2013
17                                  Justin Bieber   3.63   October 22, 2015
18                                     Ed Sheeran   3.55    October 7, 2014
19                     Cocomelon – Nursery Rhymes   3.51      June 25, 2018
20                                        Shakira   3.48       June 4, 2010
21                                     Katy Perry   3.45  February 20, 2014
22                                    Alan Walker   3.41   December 3, 2015
23                                      Passenger   3.38      July 25, 2012
24                                       Maroon 5   3.37       May 31, 2018
25                                     Ed Sheeran   3.37   November 9, 2017
26                               Enrique Iglesias   3.34     April 11, 2014
27                                    Major Lazer   3.33     March 22, 2015
28                                   Jingle Toons   3.32      June 14, 2018
29  Kiddiestv Hindi – Nursery Rhymes & Kids Songs   3.31   January 26, 2018

In [3]:
# close the driver
driver.quit()

BCCI

In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException, NoSuchElementException
import pandas as pd
import time

In [2]:
import os
print(os.getcwd())

/Users/sukanyasemwal

In [3]:
driver= webdriver.Chrome()

In [4]:
# Opening the bcci.tv
url = "https://www.bcci.tv/"
driver.get(url)

In [5]:
fixture_tag = driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
fixture_tag.click()    
time.sleep(2)

In [6]:
# Wait for the elements to become visible
time.sleep(10)

# Scrape the required details
matches = []
series = []
venues = []
dates = []
times = []

try:
    for title in driver.find_elements(By.XPATH, '/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div/div[3]/div/div[1]/h5[2]/span'):
        series.append(title.text.replace('-', ""))
except NoSuchElementException:
    series.append('-')

try:
    for match_title in driver.find_elements(By.XPATH, '/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div/div[2]/div/div[4]/div/span[1]'):
        matches.append(match_title.text.replace('-', ""))
except NoSuchElementException:
    matches.append('-')

try:
    for venue in driver.find_elements(By.XPATH, '/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div/div[3]/div/div[4]/div/span[2]'):
        venues.append(venue.text.replace('-', ""))
except NoSuchElementException:
    venues.append('-')

try:
    for fixture_date in driver.find_elements(By.XPATH, '/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div/div[3]/div/div[1]/div/div[1]/h5'):
        dates.append(fixture_date.text.replace('-', ""))
except NoSuchElementException:
    dates.append('-')

try:
    for fixture_time in driver.find_elements(By.XPATH, '/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div/div[3]/div/div[1]/div/div[2]/h5'):
        times.append(fixture_time.text.replace('-', ""))
except NoSuchElementException:
    times.append('-')

# Ensure that all lists have the same number of elements
num_items = len(matches)
assert all(len(lst) == num_items for lst in [series, venues, dates, times])

# Create a Pandas DataFrame
df = pd.DataFrame({
    'match': matches,
    'series': series,
    'venue': venues,
    'date': dates[0:8],
    'time': times[0:8]
})

# Print the DataFrame
print(df)

      match                                     series  \
0  1st ODI   AUSTRALIA TOUR OF INDIA ODI SERIES 202223

                                              venue         date         time
0  Dr YS Rajasekhara Reddy ACAVDCA Cricket Stadium,  19 MAR 2023  1:30 PM IST

In [7]:
# close the driver
driver.quit()

STATE-WISE GDP OF INDIA

In [1]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException, NoSuchElementException, WebDriverException
import time

In [2]:
import os
print(os.getcwd())

/Users/sukanyasemwal

In [3]:
# Initializing the webdriver
driver = webdriver.Chrome()

In [4]:
# navigate to the website
driver.get("http://statisticstimes.com/")

In [5]:
# find the 'Economy' link and click it
econ_link = driver.find_element(By.XPATH, "//*[@id='top']/div[2]/div[2]/button")
econ_link.click()

In [6]:
# find the 'India' link and clik it
india_link = driver.find_element(By.XPATH, "//*[@id='top']/div[2]/div[2]/div/a[3]")

In [9]:
# find the 'GDP of Indian states' link and click it
gdp_link = driver.find_element(By.XPATH, "/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
gdp_link.click()

In [10]:
# scrape the table data
table = driver.find_element(By.XPATH, "//table[@id='table_id']")
rows = table.find_elements(By.TAG_NAME, "tr")

# create empty lists to store the scraped data
rank_list = []
state_list = []
gdp_18_19_list = []
gdp_19_20_list = []
share_18_19_list = []
gdp_billion_list = []

# iterate through the rows and extract the data
for row in rows[1:]:
    try:
        cols = row.find_elements(By.TAG_NAME, "td")
        rank_list.append(cols[0].text)
        state_list.append(cols[1].text)
        gdp_18_19_list.append(cols[2].text)
        gdp_19_20_list.append(cols[3].text)
        share_18_19_list.append(cols[4].text)
        gdp_billion_list.append(cols[5].text)
    except:
        print("Error occurred while scraping row:", row)

# create a Pandas DataFrame using the scraped data
df = pd.DataFrame({
    'Rank': rank_list,
    'State': state_list,
    'GDP 2018-19': gdp_18_19_list,
    'GDP 2019-20': gdp_19_20_list,
    'Share 2018-19': share_18_19_list,
    'GDP Billion': gdp_billion_list})

# print the DataFrame
print(df)

Error occurred while scraping row: <selenium.webdriver.remote.webelement.WebElement (session="8148db7ed19e323cff7bbe98ce1f1c70", element="31f642d1-013d-4042-b641-67f570a8570c")>
   Rank                      State GDP 2018-19 GDP 2019-20 Share 2018-19  \
0     1                Maharashtra           -   2,632,792        13.94%
1     2                 Tamil Nadu   1,845,853   1,630,208         8.63%
2     3              Uttar Pradesh   1,687,818   1,584,764         8.39%
3     4                    Gujarat           -   1,502,899         7.96%
4     5                  Karnataka   1,631,977   1,493,127         7.91%
5     6                West Bengal   1,253,832   1,089,898         5.77%
6     7                  Rajasthan   1,020,989     942,586         4.99%
7     8             Andhra Pradesh     972,782     862,957         4.57%
8     9                  Telangana     969,604     861,031         4.56%
9    10             Madhya Pradesh     906,672     809,592         4.29%
10   11                     Kerala           -     781,653         4.14%
11   12                      Delhi     856,112     774,870         4.10%
12   13                    Haryana     831,610     734,163         3.89%
13   14                      Bihar     611,804     530,363         2.81%
14   15                     Punjab     574,760     526,376         2.79%
15   16                     Odisha     521,275     487,805         2.58%
16   17                      Assam           -     315,881         1.67%
17   18               Chhattisgarh     329,180     304,063         1.61%
18   19                  Jharkhand     328,598     297,204         1.57%
19   20                Uttarakhand           -     245,895         1.30%
20   21            Jammu & Kashmir           -     155,956         0.83%
21   22           Himachal Pradesh     165,472     153,845         0.81%
22   23                        Goa      80,449      73,170         0.39%
23   24                    Tripura      55,984      49,845         0.26%
24   25                 Chandigarh           -      42,114         0.22%
25   26                 Puducherry      38,253      34,433         0.18%
26   27                  Meghalaya      36,572      33,481         0.18%
27   28                     Sikkim      32,496      28,723         0.15%
28   29                    Manipur      31,790      27,870         0.15%
29   30                   Nagaland           -      27,283         0.14%
30   31          Arunachal Pradesh           -      24,603         0.13%
31   32                    Mizoram      26,503      22,287         0.12%
32   33  Andaman & Nicobar Islands           -           -             -
33                           India  20,351,013  18,886,957

   GDP Billion
0      399.921
1      247.629
2      240.726
3      228.290
4      226.806
5      165.556
6      143.179
7      131.083
8      130.791
9      122.977
10     118.733
11     117.703
12     111.519
13      80.562
14      79.957
15      74.098
16      47.982
17      46.187
18      45.145
19      37.351
20      23.690
21      23.369
22      11.115
23       7.571
24       6.397
25       5.230
26       5.086
27       4.363
28       4.233
29       4.144
30       3.737
31       3.385
32           -
33       2,869

In [11]:
# close the browser
driver.quit()

TRENDING REPOSITORY ON GITHUB

In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException, NoSuchElementException
import pandas as pd
import time

In [2]:
import os
print(os.getcwd())

/Users/sukanyasemwal

In [3]:
# Initializing the webdriver
driver = webdriver.Chrome()

In [4]:
# navigate to website
driver.get("https://github.com/")

In [5]:
# log in to GitHub account
username = "your_username"
password = "your_password"

sign_in_button_xpath = "//a[contains(text(),'Sign in')]"
wait = WebDriverWait(driver, 10)
sign_in_button = wait.until(EC.presence_of_element_located((By.XPATH, sign_in_button_xpath)))
if sign_in_button.is_displayed():
    sign_in_button.click()

In [6]:
# click on the "Explore" dropdown menu
explore_button = driver.find_element(By.XPATH, "//*[@id='global-nav']/a[5]")
explore_button.click()
time.sleep(5)

In [7]:
# click on "Trending" option
trending_button = driver.find_element(By.XPATH, "/html/body/div[1]/div[6]/main/div[1]/nav/div/a[3]")
trending_button.click()
time.sleep(2)

In [9]:
# wait for the page to load
time.sleep(5)

# get the repo titles and descriptions
repo_titles = []
repo_descs = []
contributors = []
languages = []

# scrape the data from the trending repositories
repos = driver.find_elements(By.XPATH, "//h1[@class='h3 lh-condensed']/a")
print("Repos:", [repo.get_attribute('href') for repo in repos])

descs = driver.find_elements(By.XPATH, "//p[@class='col-9 color-fg-muted my-1 pr-4']")
print("Descriptions:", [desc.text.strip() for desc in descs] if descs else [])

contributors_count = driver.find_elements(By.XPATH, "//*[contains(text(),'Contributors')]")
print("Contributors Count:", [count.text.strip() for count in contributors_count] if contributors_count else [])

languages_used = driver.find_elements(By.XPATH, "//span[@class='d-inline-block ml-0 mr-3']")
print("Languages Used:", [language.text.strip() for language in languages_used] if languages_used else [])

# extract the data from the elements and append to the lists
for i in range(len(repos)):
    title = repos[i].text.strip()
    if title:
        repo_titles.append(title)
    else:
        repo_titles.append('-')
    if descs and i < len(descs):
        description = descs[i].text.strip()
    else:
        description = '-'
    if description:
        repo_descs.append(description)
    else:
        repo_descs.append('-')
    contributor_count = contributors_count[i+1].text.strip() if contributors_count and i+1 < len(contributors_count) else '-'
    if contributor_count:
        contributors.append(contributor_count)
    else:
        contributors.append('-')
    language = languages_used[i].text.strip() if i < len(languages_used) else '-'
    if language:
        languages.append(language)
    else:
        languages.append('-')
        
# create a dataframe from the scraped data
df = pd.DataFrame({
    "Repository Title": repo_titles,
    "Repository Description": repo_descs,
    "Contributors Count": contributors,
    "Language Used": languages})

# print the dataframe
print(df)

Repos: ['https://github.com/microsoft/visual-chatgpt', 'https://github.com/ggerganov/whisper.cpp', 'https://github.com/oobabooga/text-generation-webui', 'https://github.com/sindresorhus/awesome', 'https://github.com/yetone/openai-translator', 'https://github.com/wong2/chatgpt-google-extension', 'https://github.com/caesarHQ/textSQL', 'https://github.com/EbookFoundation/free-programming-books', 'https://github.com/public-apis/public-apis', 'https://github.com/ggerganov/llama.cpp', 'https://github.com/davinci1012/pinduoduo_backdoor_unpacker', 'https://github.com/GanymedeNil/document.ai', 'https://github.com/camenduru/stable-diffusion-webui-colab', 'https://github.com/ann-afame/DEVOPS-WORLD', 'https://github.com/web-infra-dev/rspack', 'https://github.com/kamranahmedse/developer-roadmap', 'https://github.com/randaller/llama-chat', 'https://github.com/neovim/neovim', 'https://github.com/IHP-GmbH/IHP-Open-PDK', 'https://github.com/butaixianran/Stable-Diffusion-Webui-Civitai-Helper', 'https://github.com/guillaumekln/faster-whisper', 'https://github.com/pkuliyi2015/multidiffusion-upscaler-for-automatic1111', 'https://github.com/geohot/tinygrad', 'https://github.com/getaurora/download', 'https://github.com/Azure-Samples/azure-search-openai-demo']
Descriptions: ['Official repo for the paper: Visual ChatGPT: Talking, Drawing and Editing with Visual Foundation Models', "Port of OpenAI's Whisper model in C/C++", 'A gradio web UI for running Large Language Models like GPT-J 6B, OPT, GALACTICA, LLaMA, and Pygmalion.', '😎 Awesome lists about all kinds of interesting topics', '基于 ChatGPT API 的划词翻译浏览器插件和跨平台桌面端应用 - Browser extension and cross-platform desktop application for translation based on ChatGPT API.', 'A browser extension that enhance search engines with ChatGPT', '📚 Freely available programming books', 'A collective list of free APIs', "Port of Facebook's LLaMA model in C/C++", 'Samples and Unpacker of malicious backdoors and exploits developed and used by Pinduoduo', '基于向量数据库与GPT3.5的通用本地知识库方案(A universal local knowledge base solution based on vector database and GPT3.5)', 'stable diffusion webui colab', 'A fast Rust-based web bundler 🦀️', 'Interactive roadmaps, guides and other educational content to help developers grow in their careers.', "Chat with Meta's LLaMA models at home made easy", 'Vim-fork focused on extensibility and usability', '130nm BiCMOS Open Source PDK, dedicated for Analog, Mixed Signal and RF Design', 'Stable Diffusion Webui Extension for Civitai, to manage your model much more easily.', 'Faster Whisper transcription with CTranslate2', 'MultiDiffusion implementation with VAE VRAM optimize', 'You like pytorch? You like micrograd? You love tinygrad! ❤️', '极光官方版本下载页 翻墙 代理 科学上网 外网 加速器 梯子 路由', 'Demonstration of how to leverage Azure OpenAI and Cognitive Search to enable Information Search and Discovery over organizational content']
Contributors Count: []
Languages Used: ['Python', 'C', 'Python', 'TypeScript', 'TypeScript', 'JavaScript', 'Python', 'C', 'Java', 'Python', 'Jupyter Notebook', 'Rust', 'Astro', 'Python', 'Vim Script', 'HTML', 'Python', 'Python', 'Python', 'Python', 'Python']
                                     Repository Title  \
0                          microsoft / visual-chatgpt
1                             ggerganov / whisper.cpp
2                   oobabooga / text-generation-webui
3                              sindresorhus / awesome
4                          yetone / openai-translator
5                    wong2 / chatgpt-google-extension
6                                  caesarHQ / textSQL
7            EbookFoundation / free-programming-books
8                           public-apis / public-apis
9                               ggerganov / llama.cpp
10          davinci1012 / pinduoduo_backdoor_unpacker
11                          GanymedeNil / document.ai
12           camenduru / stable-diffusion-webui-colab
13                           ann-afame / DEVOPS-WORLD
14                             web-infra-dev / rspack
15                  kamranahmedse / developer-roadmap
16                             randaller / llama-chat
17                                    neovim / neovim
18                            IHP-GmbH / IHP-Open-PDK
19  butaixianran / Stable-Diffusion-Webui-Civitai-...
20                      guillaumekln / faster-whisper
21  pkuliyi2015 / multidiffusion-upscaler-for-auto...
22                                  geohot / tinygrad
23                               getaurora / download
24           Azure-Samples / azure-search-openai-demo

                               Repository Description Contributors Count  \
0   Official repo for the paper: Visual ChatGPT: T...                  -
1             Port of OpenAI's Whisper model in C/C++                  -
2   A gradio web UI for running Large Language Mod...                  -
3   😎 Awesome lists about all kinds of interesting...                  -
4   基于 ChatGPT API 的划词翻译浏览器插件和跨平台桌面端应用 - Browser e...                  -
5   A browser extension that enhance search engine...                  -
6                📚 Freely available programming books                  -
7                      A collective list of free APIs                  -
8             Port of Facebook's LLaMA model in C/C++                  -
9   Samples and Unpacker of malicious backdoors an...                  -
10  基于向量数据库与GPT3.5的通用本地知识库方案(A universal local kno...                  -
11                       stable diffusion webui colab                  -
12                   A fast Rust-based web bundler 🦀️                  -
13  Interactive roadmaps, guides and other educati...                  -
14    Chat with Meta's LLaMA models at home made easy                  -
15    Vim-fork focused on extensibility and usability                  -
16  130nm BiCMOS Open Source PDK, dedicated for An...                  -
17  Stable Diffusion Webui Extension for Civitai, ...                  -
18      Faster Whisper transcription with CTranslate2                  -
19  MultiDiffusion implementation with VAE VRAM op...                  -
20  You like pytorch? You like micrograd? You love...                  -
21                  极光官方版本下载页 翻墙 代理 科学上网 外网 加速器 梯子 路由                  -
22  Demonstration of how to leverage Azure OpenAI ...                  -
23                                                  -                  -
24                                                  -                  -

       Language Used
0             Python
1                  C
2             Python
3         TypeScript
4         TypeScript
5         JavaScript
6             Python
7                  C
8               Java
9             Python
10  Jupyter Notebook
11              Rust
12             Astro
13            Python
14        Vim Script
15              HTML
16            Python
17            Python
18            Python
19            Python
20            Python
21                 -
22                 -
23                 -
24                 -

In [11]:
# close the browser
driver.quit()

BILLIBOARD TOP 100 SONGS

In [24]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException, NoSuchElementException
import pandas as pd
import time

In [25]:
# Launching the chrome browser
driver = webdriver.Chrome()

In [26]:
# Opening the bcci.tv
url = "https://www.billboard.com/"
driver.get(url)

In [27]:
# Click the "Charts" option and then the "Hot 100" link
charts_option = driver.find_element(By.XPATH, "/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a")
charts_option.click()
time.sleep(5)

In [28]:
hot_100_link = driver.find_element(By.XPATH, "/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div[1]/div[2]/span/a")
hot_100_link.click()
time.sleep(5)

In [29]:
# wait for the page to load
time.sleep(10)

# get the song, artist, last week rank, peak rank, and weeks on board for each song in the hot 100
songs = []
artists_info = []
last_week_ranks_info = []
peak_ranks_info = []
weeks_on_board_info = []

# scrape the data from the Hot 100 songs chart
songs = driver.find_elements(By.XPATH, "//*[@id='title-of-a-story']")
print("Songs:", [song.text.strip() for song in songs] if songs else [])

artists_info = driver.find_elements(By.XPATH, "//li[@class='lrv-u-width-100p']/ul/li[1]/span")
print("Artists Info:", [artist.text.strip() for artist in artists_info] if artists_info else [])

last_week_ranks_info = driver.find_elements(By.XPATH, "//li[@class='lrv-u-width-100p']/ul/li[4]/span[1]")
print("Last Week Ranks Info:", [rank.text.strip() for rank in last_week_ranks_info] if last_week_ranks_info else [])

peak_ranks_info = driver.find_elements(By.XPATH, "//li[@class='lrv-u-width-100p']/ul/li[5]/span[1]")
print("Peak Ranks Info:", [rank.text.strip() for rank in peak_ranks_info] if peak_ranks_info else [])

weeks_on_board_info = driver.find_elements(By.XPATH, "//li[@class='lrv-u-width-100p']/ul/li[6]/span[1]")
print("Weeks on Board Info:", [weeks.text.strip() for weeks in weeks_on_board_info] if weeks_on_board_info else [])

songs_list = []
artists_list = []
last_week_ranks_list = []
peak_ranks_list = []
weeks_on_board_list = []

for i in range(len(songs)):
    song = songs[i].text.strip()
    if song:
        songs_list.append(song)
    else:
        songs_list.append('-')
    artist = artists_info[i].text.strip() if i < len(artists_info) else '-'
    if artist:
        artists_list.append(artist)
    else:
        artists_list.append('-')
    last_week_rank = last_week_ranks_info[i].text.strip() if i < len(last_week_ranks_info) else '-'
    if last_week_rank:
        last_week_ranks_list.append(last_week_rank)
    else:
        last_week_ranks_list.append('-')
    peak_rank = peak_ranks_info[i].text.strip() if i < len(peak_ranks_info) else '-'
    if peak_rank:
        peak_ranks_list.append(peak_rank)
    else:
        peak_ranks_list.append('-')
    weeks_on_board = weeks_on_board_info[i].text.strip() if i < len(weeks_on_board_info) else '-'
    if weeks_on_board:
        weeks_on_board_list.append(weeks_on_board)
    else:
        weeks_on_board_list.append('-')
        
print(len(songs_list))
print(len(artists_list))
print(len(last_week_ranks_list))
print(len(peak_ranks_list))
print(len(weeks_on_board))

Songs: ['', '', '', '', '', 'Die For You', '', '', '', 'Flowers', '', '', '', 'Kill Bill', '', '', '', "Boy's A Liar, Pt. 2", '', '', '', 'Last Night', '', '', '', "Creepin'", '', '', '', 'TQG', '', '', '', 'Unholy', '', '', '', 'Anti-Hero', '', '', '', 'Cuff It', '', '', '', "I'm Good (Blue)", '', '', '', 'Just Wanna Rock', '', '', '', 'Thought You Should Know', '', '', '', 'As It Was', '', '', '', 'Calm Down', '', '', '', 'Players', '', '', '', 'Rock And A Hard Place', '', '', '', 'Under The Influence', '', '', '', 'Thank God', '', '', '', 'Rich Flex', '', '', '', 'You Proof', '', '', '', 'Escapism', '', '', '', 'Lavender Haze', '', '', '', 'Going, Going, Gone', '', '', '', 'Painting Pictures', '', '', '', 'Something In The Orange', '', '', '', 'Until I Found You', '', '', '', 'Sure Thing', '', '', '', 'Heart Like A Truck', '', '', '', 'Superhero (Heroes & Villains)', '', '', '', 'Golden Hour', '', '', '', 'Snooze', '', '', '', 'Shirt', '', '', '', 'Made You Look', '', '', '', 'Bad Habit', '', '', '', 'The Kind Of Love We Make', '', '', '', 'I Like You (A Happier Song)', '', '', '', 'Wait For U', '', '', '', 'Love You Anyway', '', '', '', 'Wait In The Truck', '', '', '', 'Bebe Dame', '', '', '', 'Bzrp Music Sessions, Vol. 53', '', '', '', 'Nobody Gets Me', '', '', '', 'Favorite Song', '', '', '', 'She Had Me At Heads Carolina', '', '', '', 'Bloody Mary', '', '', '', 'Spin Bout U', '', '', '', 'X Si Volvemos', '', '', '', 'Unstoppable', '', '', '', 'About Damn Time', '', '', '', 'One Thing At A Time', '', '', '', 'Dawns', '', '', '', 'Special', '', '', '', "What He Didn't Do", '', '', '', 'Handle On You', '', '', '', 'Watch This (ARIZONATEARS Pluggnb Remix)', '', '', '', 'Que Vuelvas', '', '', '', 'Wild As Her', '', '', '', 'Love Again', '', '', '', 'Ceilings', '', '', '', 'Freestyle', '', '', '', 'Heaven', '', '', '', 'Low', '', '', '', 'I Wrote The Book', '', '', '', 'Lift Me Up', '', '', '', 'Kant Nobody', '', '', '', 'Next Thing You Know', '', '', '', 'Mientras Me Curo del Cora', '', '', '', 'In Ha Mood', '', '', '', 'Tennessee Orange', '', '', '', 'Gucci Los Panos', '', '', '', 'Private Landing', '', '', '', 'Tus Gafitas', '', '', '', 'Gatubela', '', '', '', 'Nonsense', '', '', '', 'Forever', '', '', '', 'No More Talk', '', '', '', "You Didn't", '', '', '', 'Split', '', '', '', 'AMG', '', '', '', '10:35', '', '', '', 'Cairo', '', '', '', 'Shmunk', '', '', '', 'Hope', '', '', '', "That's What Tequila Does", '', '', '', 'Pero Tu', '', '', '', 'Trance', '', '', '', 'Dirt', '', '', '', 'Joe', '', '', '', 'Gold', '', '', '', 'PRC', '', '', '', 'Human', '', '', '', 'Everything I Love', '', '', '', 'Here With Me', '', '', '', 'Ojos Ferrari', '', '', '', 'Besties', '', '', '', 'Yandel 150', '', '', '', 'Manana Sera Bonito', '', '', '', 'The Color Violet', '', '', '', 'Die 4 Me', '', '', '', 'Oscars: Complete Winners List', 'Donald Trump Is Reportedly Planning on Leaking Bombshell Letters from This British Royal Family Member in His New Book', '$2 Billion Powerball Winner Buys Rakish Hollywood Hills Mansion', 'Top 50 Highest-Paid Athletes of All Time', 'Oscars: Why the Success of Netflix’s ‘All Quiet on the Western Front’ Will Add Momentum to Germany’s Film Funding Reform', 'Rihanna Honors Spirit Of Chadwick Boseman With 2023 Oscars Performance', 'EXCLUSIVE: Puma Teams Up With Palomo Spain for Surf-Inspired Capsule Collection', '', '', 'Follow Us', '', 'The Daily', 'Have a Tip?']
Artists Info: ['The Weeknd & Ariana Grande', 'Miley Cyrus', 'SZA', 'PinkPantheress & Ice Spice', 'Morgan Wallen', 'Metro Boomin, The Weeknd & 21 Savage', 'Karol G x Shakira', 'Sam Smith & Kim Petras', 'Taylor Swift', 'Beyonce', 'David Guetta & Bebe Rexha', 'Lil Uzi Vert', 'Morgan Wallen', 'Harry Styles', 'Rema & Selena Gomez', 'Coi Leray', 'Bailey Zimmerman', 'Chris Brown', 'Kane Brown With Katelyn Brown', 'Drake & 21 Savage', 'Morgan Wallen', 'RAYE Featuring 070 Shake', 'Taylor Swift', 'Luke Combs', 'Superstar Pride', 'Zach Bryan', 'Stephen Sanchez', 'Miguel', 'Lainey Wilson', 'Metro Boomin, Future & Chris Brown', 'JVKE', 'SZA', 'SZA', 'Meghan Trainor', 'Steve Lacy', 'Luke Combs', 'Post Malone Featuring Doja Cat', 'Future Featuring Drake & Tems', 'Luke Combs', 'HARDY Featuring Lainey Wilson', 'Fuerza Regida X Grupo Frontera', 'Bizarrap & Shakira', 'SZA', 'Toosii', 'Cole Swindell', 'Lady Gaga', 'Drake & 21 Savage', 'Karol G x Romeo Santos', 'Sia', 'Lizzo', 'Morgan Wallen', 'Zach Bryan Featuring Maggie Rogers', 'Lizzo Featuring SZA', 'Carly Pearce', 'Parker McCollum', 'Lil Uzi Vert', 'Carin Leon X Grupo Frontera', 'Corey Kent', 'The Kid LAROI', 'Lizzy McAlpine', 'Lil Baby', 'Niall Horan', 'SZA', 'Morgan Wallen', 'Rihanna', 'Lil Wayne Featuring DMX', 'Jordan Davis', 'Karol G', 'Ice Spice', 'Megan Moroney', 'Karol G', 'Don Toliver Featuring Justin Bieber & Future', 'Karol G', 'Karol G x Maldy', 'Sabrina Carpenter', 'Lil Baby Featuring Fridayy', 'Yeat', 'Brett Young', 'Yeat', 'Gabito Ballesteros, Peso Pluma & Natanael Cano', 'Tiesto Featuring Tate McRae', 'Karol G & Ovy On The Drums', 'Yeat Featuring YoungBoy Never Broke Again', 'NF', 'Jason Aldean', 'Karol G & Quevedo', 'Metro Boomin, Travis Scott & Young Thug', 'Key Glock', 'Luke Combs', 'Dierks Bentley', 'Peso Pluma X Natanael Cano', 'Cody Johnson', 'Morgan Wallen', 'd4vd', 'Karol G, Justin Quiles & Angel Dior', 'Karol G', 'Yandel & Feid', 'Karol G & Carla Morrison', 'Tory Lanez', 'Halsey']
Last Week Ranks Info: ['6', '1', '2', '3', '5', '4', '-', '7', '8', '9', '10', '11', '15', '12', '19', '17', '16', '18', '13', '14', '20', '23', '22', '24', '34', '26', '31', '28', '29', '25', '27', '33', '32', '21', '30', '36', '37', '35', '38', '41', '39', '40', '48', '51', '42', '47', '57', '91', '50', '45', '60', '43', '55', '53', '58', '62', '56', '59', '54', '75', '64', '63', '65', '61', '52', '-', '67', '-', '68', '66', '-', '-', '-', '-', '72', '81', '-', '71', '-', '70', '73', '-', '-', '49', '77', '-', '76', '-', '-', '99', '79', '85', '80', '78', '-', '-', '90', '-', '84', '-']
Peak Ranks Info: ['1', '1', '2', '3', '3', '3', '7', '1', '1', '6', '4', '10', '12', '1', '15', '16', '16', '12', '13', '2', '5', '22', '2', '23', '25', '10', '23', '28', '29', '8', '10', '29', '11', '11', '1', '8', '3', '1', '15', '23', '25', '9', '10', '44', '16', '46', '5', '48', '28', '1', '37', '42', '52', '53', '55', '56', '50', '58', '40', '60', '59', '62', '17', '38', '2', '66', '67', '68', '68', '53', '71', '72', '73', '37', '56', '8', '77', '63', '79', '66', '69', '82', '83', '49', '77', '86', '42', '88', '89', '90', '73', '84', '51', '60', '95', '96', '90', '98', '63', '100']
Weeks on Board Info: ['31', '7', '12', '4', '5', '13', '1', '23', '19', '29', '27', '20', '29', '48', '26', '9', '38', '25', '25', '17', '42', '13', '19', '16', '3', '45', '35', '31', '16', '13', '27', '12', '18', '19', '35', '32', '36', '41', '3', '26', '10', '7', '12', '2', '36', '9', '17', '4', '29', '42', '13', '5', '3', '11', '9', '2', '10', '21', '5', '2', '22', '2', '12', '5', '18', '1', '6', '1', '4', '12', '1', '1', '1', '11', '7', '8', '1', '8', '1', '6', '6', '1', '1', '2', '8', '1', '4', '1', '1', '2', '4', '7', '5', '9', '1', '1', '4', '1', '9', '1']
418
418
418
418
1

In [30]:
# close the browser
driver.quit()

TOP SELLING BOOKS

In [12]:
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd
import time

In [13]:
# Launching the chrome browser
driver = webdriver.Chrome()

# Load the URL
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver.get(url)

In [14]:
# Wait for the table to load
table = WebDriverWait(driver, 10).until(
    EC.presence_of_element_located((By.XPATH, "//table[@class='in-article sortable']")))

# Create empty lists for each data point
book_names = []
author_names = []
volumes_sold = []
publishers = []
genres = []

# Find all rows in the table except for the header row
rows = table.find_elements(By.XPATH, ".//tr[position()>1]")

# Iterate over each row and extract the data points
for row in rows:
    # Extract the data from each cell in the row
    cells = row.find_elements(By.XPATH, ".//td")
    
    # Extract the book name
    book_name = cells[1].text.strip()
    book_names.append(book_name)
    print(f"Book Name: {book_name}")
    
    # Extract the author name
    author_name = cells[2].text.strip()
    author_names.append(author_name)
    print(f"Author Name: {author_name}")
    
    # Extract the volumes sold
    volumes = cells[3].text.strip()
    volumes_sold.append(volumes)
    print(f"Volumes Sold: {volumes}")
    
    # Extract the publisher
    publisher = cells[4].text.strip()
    publishers.append(publisher)
    print(f"Publisher: {publisher}")
    
    # Extract the genre
    genre = cells[5].text.strip()
    genres.append(genre)
    print(f"Genre: {genre}")
    
    print()

# Create a Pandas DataFrame to store the data
data = {
    "Book Name": book_names,
    "Author Name": author_names,
    "Volumes Sold": volumes_sold,
    "Publisher": publishers,
    "Genre": genres}

df = pd.DataFrame(data)

# Print the DataFrame
print(df)

Book Name: Harry Potter and the Deathly Hallows
Author Name: Rowling, J.K.
Volumes Sold: 4,475,152
Publisher: Bloomsbury
Genre: Children's Fiction

Book Name: Harry Potter and the Philosopher's Stone
Author Name: Rowling, J.K.
Volumes Sold: 4,200,654
Publisher: Bloomsbury
Genre: Children's Fiction

Book Name: Harry Potter and the Order of the Phoenix
Author Name: Rowling, J.K.
Volumes Sold: 4,179,479
Publisher: Bloomsbury
Genre: Children's Fiction

Book Name: Fifty Shades of Grey
Author Name: James, E. L.
Volumes Sold: 3,758,936
Publisher: Random House
Genre: Romance & Sagas

Book Name: Harry Potter and the Goblet of Fire
Author Name: Rowling, J.K.
Volumes Sold: 3,583,215
Publisher: Bloomsbury
Genre: Children's Fiction

Book Name: Harry Potter and the Chamber of Secrets
Author Name: Rowling, J.K.
Volumes Sold: 3,484,047
Publisher: Bloomsbury
Genre: Children's Fiction

Book Name: Harry Potter and the Prisoner of Azkaban
Author Name: Rowling, J.K.
Volumes Sold: 3,377,906
Publisher: Bloomsbury
Genre: Children's Fiction

Book Name: Angels and Demons
Author Name: Brown, Dan
Volumes Sold: 3,193,946
Publisher: Transworld
Genre: Crime, Thriller & Adventure

Book Name: Harry Potter and the Half-blood Prince:Children's Edition
Author Name: Rowling, J.K.
Volumes Sold: 2,950,264
Publisher: Bloomsbury
Genre: Children's Fiction

Book Name: Fifty Shades Darker
Author Name: James, E. L.
Volumes Sold: 2,479,784
Publisher: Random House
Genre: Romance & Sagas

Book Name: Twilight
Author Name: Meyer, Stephenie
Volumes Sold: 2,315,405
Publisher: Little, Brown Book
Genre: Young Adult Fiction

Book Name: Girl with the Dragon Tattoo,The:Millennium Trilogy
Author Name: Larsson, Stieg
Volumes Sold: 2,233,570
Publisher: Quercus
Genre: Crime, Thriller & Adventure

Book Name: Fifty Shades Freed
Author Name: James, E. L.
Volumes Sold: 2,193,928
Publisher: Random House
Genre: Romance & Sagas

Book Name: Lost Symbol,The
Author Name: Brown, Dan
Volumes Sold: 2,183,031
Publisher: Transworld
Genre: Crime, Thriller & Adventure

Book Name: New Moon
Author Name: Meyer, Stephenie
Volumes Sold: 2,152,737
Publisher: Little, Brown Book
Genre: Young Adult Fiction

Book Name: Deception Point
Author Name: Brown, Dan
Volumes Sold: 2,062,145
Publisher: Transworld
Genre: Crime, Thriller & Adventure

Book Name: Eclipse
Author Name: Meyer, Stephenie
Volumes Sold: 2,052,876
Publisher: Little, Brown Book
Genre: Young Adult Fiction

Book Name: Lovely Bones,The
Author Name: Sebold, Alice
Volumes Sold: 2,005,598
Publisher: Pan Macmillan
Genre: General & Literary Fiction

Book Name: Curious Incident of the Dog in the Night-time,The
Author Name: Haddon, Mark
Volumes Sold: 1,979,552
Publisher: Random House
Genre: General & Literary Fiction

Book Name: Digital Fortress
Author Name: Brown, Dan
Volumes Sold: 1,928,900
Publisher: Transworld
Genre: Crime, Thriller & Adventure

Book Name: Short History of Nearly Everything,A
Author Name: Bryson, Bill
Volumes Sold: 1,852,919
Publisher: Transworld
Genre: Popular Science

Book Name: Girl Who Played with Fire,The:Millennium Trilogy
Author Name: Larsson, Stieg
Volumes Sold: 1,814,784
Publisher: Quercus
Genre: Crime, Thriller & Adventure

Book Name: Breaking Dawn
Author Name: Meyer, Stephenie
Volumes Sold: 1,787,118
Publisher: Little, Brown Book
Genre: Young Adult Fiction

Book Name: Very Hungry Caterpillar,The:The Very Hungry Caterpillar
Author Name: Carle, Eric
Volumes Sold: 1,783,535
Publisher: Penguin
Genre: Picture Books

Book Name: Gruffalo,The
Author Name: Donaldson, Julia
Volumes Sold: 1,781,269
Publisher: Pan Macmillan
Genre: Picture Books

Book Name: Jamie's 30-Minute Meals
Author Name: Oliver, Jamie
Volumes Sold: 1,743,266
Publisher: Penguin
Genre: Food & Drink: General

Book Name: Kite Runner,The
Author Name: Hosseini, Khaled
Volumes Sold: 1,629,119
Publisher: Bloomsbury
Genre: General & Literary Fiction

Book Name: One Day
Author Name: Nicholls, David
Volumes Sold: 1,616,068
Publisher: Hodder & Stoughton
Genre: General & Literary Fiction

Book Name: Thousand Splendid Suns,A
Author Name: Hosseini, Khaled
Volumes Sold: 1,583,992
Publisher: Bloomsbury
Genre: General & Literary Fiction

Book Name: Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy
Author Name: Larsson, Stieg
Volumes Sold: 1,555,135
Publisher: Quercus
Genre: Crime, Thriller & Adventure

Book Name: Time Traveler's Wife,The
Author Name: Niffenegger, Audrey
Volumes Sold: 1,546,886
Publisher: Random House
Genre: General & Literary Fiction

Book Name: Atonement
Author Name: McEwan, Ian
Volumes Sold: 1,539,428
Publisher: Random House
Genre: General & Literary Fiction

Book Name: Bridget Jones's Diary:A Novel
Author Name: Fielding, Helen
Volumes Sold: 1,508,205
Publisher: Pan Macmillan
Genre: General & Literary Fiction

Book Name: World According to Clarkson,The
Author Name: Clarkson, Jeremy
Volumes Sold: 1,489,403
Publisher: Penguin
Genre: Humour: Collections & General

Book Name: Captain Corelli's Mandolin
Author Name: Bernieres, Louis de
Volumes Sold: 1,352,318
Publisher: Random House
Genre: General & Literary Fiction

Book Name: Sound of Laughter,The
Author Name: Kay, Peter
Volumes Sold: 1,310,207
Publisher: Random House
Genre: Autobiography: General

Book Name: Life of Pi
Author Name: Martel, Yann
Volumes Sold: 1,310,176
Publisher: Canongate
Genre: General & Literary Fiction

Book Name: Billy Connolly
Author Name: Stephenson, Pamela
Volumes Sold: 1,231,957
Publisher: HarperCollins
Genre: Biography: The Arts

Book Name: Child Called It,A
Author Name: Pelzer, Dave
Volumes Sold: 1,217,712
Publisher: Orion
Genre: Autobiography: General

Book Name: Gruffalo's Child,The
Author Name: Donaldson, Julia
Volumes Sold: 1,208,711
Publisher: Pan Macmillan
Genre: Picture Books

Book Name: Angela's Ashes:A Memoir of a Childhood
Author Name: McCourt, Frank
Volumes Sold: 1,204,058
Publisher: HarperCollins
Genre: Autobiography: General

Book Name: Birdsong
Author Name: Faulks, Sebastian
Volumes Sold: 1,184,967
Publisher: Random House
Genre: General & Literary Fiction

Book Name: Northern Lights:His Dark Materials S.
Author Name: Pullman, Philip
Volumes Sold: 1,181,503
Publisher: Scholastic Ltd.
Genre: Young Adult Fiction

Book Name: Labyrinth
Author Name: Mosse, Kate
Volumes Sold: 1,181,093
Publisher: Orion
Genre: General & Literary Fiction

Book Name: Harry Potter and the Half-blood Prince
Author Name: Rowling, J.K.
Volumes Sold: 1,153,181
Publisher: Bloomsbury
Genre: Science Fiction & Fantasy

Book Name: Help,The
Author Name: Stockett, Kathryn
Volumes Sold: 1,132,336
Publisher: Penguin
Genre: General & Literary Fiction

Book Name: Man and Boy
Author Name: Parsons, Tony
Volumes Sold: 1,130,802
Publisher: HarperCollins
Genre: General & Literary Fiction

Book Name: Memoirs of a Geisha
Author Name: Golden, Arthur
Volumes Sold: 1,126,337
Publisher: Random House
Genre: General & Literary Fiction

Book Name: No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.
Author Name: McCall Smith, Alexander
Volumes Sold: 1,115,549
Publisher: Little, Brown Book
Genre: Crime, Thriller & Adventure

Book Name: Island,The
Author Name: Hislop, Victoria
Volumes Sold: 1,108,328
Publisher: Headline
Genre: General & Literary Fiction

Book Name: PS, I Love You
Author Name: Ahern, Cecelia
Volumes Sold: 1,107,379
Publisher: HarperCollins
Genre: General & Literary Fiction

Book Name: You are What You Eat:The Plan That Will Change Your Life
Author Name: McKeith, Gillian
Volumes Sold: 1,104,403
Publisher: Penguin
Genre: Fitness & Diet

Book Name: Shadow of the Wind,The
Author Name: Zafon, Carlos Ruiz
Volumes Sold: 1,092,349
Publisher: Orion
Genre: General & Literary Fiction

Book Name: Tales of Beedle the Bard,The
Author Name: Rowling, J.K.
Volumes Sold: 1,090,847
Publisher: Bloomsbury
Genre: Children's Fiction

Book Name: Broker,The
Author Name: Grisham, John
Volumes Sold: 1,087,262
Publisher: Random House
Genre: Crime, Thriller & Adventure

Book Name: Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P
Author Name: Atkins, Robert C.
Volumes Sold: 1,054,196
Publisher: Random House
Genre: Fitness & Diet

Book Name: Subtle Knife,The:His Dark Materials S.
Author Name: Pullman, Philip
Volumes Sold: 1,037,160
Publisher: Scholastic Ltd.
Genre: Young Adult Fiction

Book Name: Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation
Author Name: Truss, Lynne
Volumes Sold: 1,023,688
Publisher: Profile Books Group
Genre: Usage & Writing Guides

Book Name: Delia's How to Cook:(Bk.1)
Author Name: Smith, Delia
Volumes Sold: 1,015,956
Publisher: Random House
Genre: Food & Drink: General

Book Name: Chocolat
Author Name: Harris, Joanne
Volumes Sold: 1,009,873
Publisher: Transworld
Genre: General & Literary Fiction

Book Name: Boy in the Striped Pyjamas,The
Author Name: Boyne, John
Volumes Sold: 1,004,414
Publisher: Random House Childrens Books G
Genre: Young Adult Fiction

Book Name: My Sister's Keeper
Author Name: Picoult, Jodi
Volumes Sold: 1,003,780
Publisher: Hodder & Stoughton
Genre: General & Literary Fiction

Book Name: Amber Spyglass,The:His Dark Materials S.
Author Name: Pullman, Philip
Volumes Sold: 1,002,314
Publisher: Scholastic Ltd.
Genre: Young Adult Fiction

Book Name: To Kill a Mockingbird
Author Name: Lee, Harper
Volumes Sold: 998,213
Publisher: Random House
Genre: General & Literary Fiction

Book Name: Men are from Mars, Women are from Venus:A Practical Guide for Improvin
Author Name: Gray, John
Volumes Sold: 992,846
Publisher: HarperCollins
Genre: Popular Culture & Media: General Interest

Book Name: Dear Fatty
Author Name: French, Dawn
Volumes Sold: 986,753
Publisher: Random House
Genre: Autobiography: The Arts

Book Name: Short History of Tractors in Ukrainian,A
Author Name: Lewycka, Marina
Volumes Sold: 986,115
Publisher: Penguin
Genre: General & Literary Fiction

Book Name: Hannibal
Author Name: Harris, Thomas
Volumes Sold: 970,509
Publisher: Random House
Genre: Crime, Thriller & Adventure

Book Name: Lord of the Rings,The
Author Name: Tolkien, J. R. R.
Volumes Sold: 967,466
Publisher: HarperCollins
Genre: Science Fiction & Fantasy

Book Name: Stupid White Men:...and Other Sorry Excuses for the State of the Natio
Author Name: Moore, Michael
Volumes Sold: 963,353
Publisher: Penguin
Genre: Current Affairs & Issues

Book Name: Interpretation of Murder,The
Author Name: Rubenfeld, Jed
Volumes Sold: 962,515
Publisher: Headline
Genre: Crime, Thriller & Adventure

Book Name: Sharon Osbourne Extreme:My Autobiography
Author Name: Osbourne, Sharon
Volumes Sold: 959,496
Publisher: Little, Brown Book
Genre: Autobiography: The Arts

Book Name: Alchemist,The:A Fable About Following Your Dream
Author Name: Coelho, Paulo
Volumes Sold: 956,114
Publisher: HarperCollins
Genre: General & Literary Fiction

Book Name: At My Mother's Knee ...:and Other Low Joints
Author Name: O'Grady, Paul
Volumes Sold: 945,640
Publisher: Transworld
Genre: Autobiography: The Arts

Book Name: Notes from a Small Island
Author Name: Bryson, Bill
Volumes Sold: 931,312
Publisher: Transworld
Genre: Travel Writing

Book Name: Return of the Naked Chef,The
Author Name: Oliver, Jamie
Volumes Sold: 925,425
Publisher: Penguin
Genre: Food & Drink: General

Book Name: Bridget Jones: The Edge of Reason
Author Name: Fielding, Helen
Volumes Sold: 924,695
Publisher: Pan Macmillan
Genre: General & Literary Fiction

Book Name: Jamie's Italy
Author Name: Oliver, Jamie
Volumes Sold: 906,968
Publisher: Penguin
Genre: National & Regional Cuisine

Book Name: I Can Make You Thin
Author Name: McKenna, Paul
Volumes Sold: 905,086
Publisher: Transworld
Genre: Fitness & Diet

Book Name: Down Under
Author Name: Bryson, Bill
Volumes Sold: 890,847
Publisher: Transworld
Genre: Travel Writing

Book Name: Summons,The
Author Name: Grisham, John
Volumes Sold: 869,671
Publisher: Random House
Genre: Crime, Thriller & Adventure

Book Name: Small Island
Author Name: Levy, Andrea
Volumes Sold: 869,659
Publisher: Headline
Genre: General & Literary Fiction

Book Name: Nigella Express
Author Name: Lawson, Nigella
Volumes Sold: 862,602
Publisher: Random House
Genre: Food & Drink: General

Book Name: Brick Lane
Author Name: Ali, Monica
Volumes Sold: 856,540
Publisher: Transworld
Genre: General & Literary Fiction

Book Name: Memory Keeper's Daughter,The
Author Name: Edwards, Kim
Volumes Sold: 845,858
Publisher: Penguin
Genre: General & Literary Fiction

Book Name: Room on the Broom
Author Name: Donaldson, Julia
Volumes Sold: 842,535
Publisher: Pan Macmillan
Genre: Picture Books

Book Name: About a Boy
Author Name: Hornby, Nick
Volumes Sold: 828,215
Publisher: Penguin
Genre: General & Literary Fiction

Book Name: My Booky Wook
Author Name: Brand, Russell
Volumes Sold: 820,563
Publisher: Hodder & Stoughton
Genre: Autobiography: The Arts

Book Name: God Delusion,The
Author Name: Dawkins, Richard
Volumes Sold: 816,907
Publisher: Transworld
Genre: Popular Science

Book Name: "Beano" Annual,The
Author Name: 0
Volumes Sold: 816,585
Publisher: D.C. Thomson
Genre: Children's Annuals

Book Name: White Teeth
Author Name: Smith, Zadie
Volumes Sold: 815,586
Publisher: Penguin
Genre: General & Literary Fiction

Book Name: House at Riverton,The
Author Name: Morton, Kate
Volumes Sold: 814,370
Publisher: Pan Macmillan
Genre: General & Literary Fiction

Book Name: Book Thief,The
Author Name: Zusak, Markus
Volumes Sold: 809,641
Publisher: Transworld
Genre: General & Literary Fiction

Book Name: Nights of Rain and Stars
Author Name: Binchy, Maeve
Volumes Sold: 808,900
Publisher: Orion
Genre: General & Literary Fiction

Book Name: Ghost,The
Author Name: Harris, Robert
Volumes Sold: 807,311
Publisher: Random House
Genre: General & Literary Fiction

Book Name: Happy Days with the Naked Chef
Author Name: Oliver, Jamie
Volumes Sold: 794,201
Publisher: Penguin
Genre: Food & Drink: General

Book Name: Hunger Games,The:Hunger Games Trilogy
Author Name: Collins, Suzanne
Volumes Sold: 792,187
Publisher: Scholastic Ltd.
Genre: Young Adult Fiction

Book Name: Lost Boy,The:A Foster Child's Search for the Love of a Family
Author Name: Pelzer, Dave
Volumes Sold: 791,507
Publisher: Orion
Genre: Biography: General

Book Name: Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours
Author Name: Oliver, Jamie
Volumes Sold: 791,095
Publisher: Penguin
Genre: Food & Drink: General

                                            Book Name       Author Name  \
0                Harry Potter and the Deathly Hallows     Rowling, J.K.
1            Harry Potter and the Philosopher's Stone     Rowling, J.K.
2           Harry Potter and the Order of the Phoenix     Rowling, J.K.
3                                Fifty Shades of Grey      James, E. L.
4                 Harry Potter and the Goblet of Fire     Rowling, J.K.
..                                                ...               ...
94                                          Ghost,The    Harris, Robert
95                     Happy Days with the Naked Chef     Oliver, Jamie
96              Hunger Games,The:Hunger Games Trilogy  Collins, Suzanne
97  Lost Boy,The:A Foster Child's Search for the L...      Pelzer, Dave
98  Jamie's Ministry of Food:Anyone Can Learn to C...     Oliver, Jamie

   Volumes Sold        Publisher                       Genre
0     4,475,152       Bloomsbury          Children's Fiction
1     4,200,654       Bloomsbury          Children's Fiction
2     4,179,479       Bloomsbury          Children's Fiction
3     3,758,936     Random House             Romance & Sagas
4     3,583,215       Bloomsbury          Children's Fiction
..          ...              ...                         ...
94      807,311     Random House  General & Literary Fiction
95      794,201          Penguin       Food & Drink: General
96      792,187  Scholastic Ltd.         Young Adult Fiction
97      791,507            Orion          Biography: General
98      791,095          Penguin       Food & Drink: General

[99 rows x 5 columns]

In [15]:
# close the browser
driver.quit()

MOST WATCHED TV SERIES

In [16]:
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd
import time

In [17]:
# Launching the chrome browser
driver = webdriver.Chrome()

In [18]:
url = 'https://www.imdb.com/list/ls095964455/'
driver.get(url)

In [21]:
time.sleep(5)

# create empty lists to store data
names = []
year_spans = []
genres = []
runtimes = []
ratings = []
votes = []

tv_list = driver.find_elements(By.XPATH, '//div[@class="lister-item-content"]')
tv_details = []

for tv in tv_list:
    # name
    name = tv.find_element(By.XPATH, './/h3/a').text
    # year
    year = tv.find_element(By.XPATH, './/span[@class="lister-item-year text-muted unbold"]')
    year = year.text.replace('(','').replace(')','')
    # genre
    genre = tv.find_element(By.XPATH, './/span[@class="genre"]')
    genre = genre.text.strip()
    # runtime
    runtime = tv.find_element(By.XPATH, './/span[@class="runtime"]')
    runtime = runtime.text
    # rating
    rating = tv.find_element(By.XPATH, './/div[@class="ipl-rating-star small"]/span[@class="ipl-rating-star__rating"]')
    rating = rating.text
    # votes
    try:
        vote = tv.find_element(By.XPATH, './/span[@name="ir"]')
        votes = vote.get_attribute('data-value')
    except:
        votes = None
        
    tv_details.append({
        'name': name,
        'year': year,
        'genre': genre,
        'runtime': runtime,
        'rating': rating,
        'votes': votes})
    
    
    df = pd.DataFrame(tv_details)
print(df)

                              name       year                     genre  \
0                  Game of Thrones  2011–2019  Action, Adventure, Drama
1                  Stranger Things  2016–2024    Drama, Fantasy, Horror
2                 The Walking Dead  2010–2022   Drama, Horror, Thriller
3                   13 Reasons Why  2017–2020  Drama, Mystery, Thriller
4                          The 100  2014–2020    Drama, Mystery, Sci-Fi
..                             ...        ...                       ...
95                           Reign  2013–2017                     Drama
96  A Series of Unfortunate Events  2017–2019  Adventure, Comedy, Drama
97                  Criminal Minds     2005–      Crime, Drama, Mystery
98           Scream: The TV Series  2015–2019      Comedy, Crime, Drama
99      The Haunting of Hill House       2018    Drama, Horror, Mystery

    runtime rating votes
0    57 min    9.2  None
1    51 min    8.7  None
2    44 min    8.1  None
3    60 min    7.5  None
4    43 min    7.6  None
..      ...    ...   ...
95   42 min    7.4  None
96   50 min    7.8  None
97   42 min    8.1  None
98   45 min    7.1  None
99  572 min    8.6  None

[100 rows x 6 columns]

In [22]:
# close the browser
driver.quit()

DATASETS FROM UCI MACHINE LEARNING

In [1]:
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd
import time

In [2]:
# Launching the chrome browser
driver = webdriver.Chrome()

In [3]:
# Opening the url
url = "https://archive.ics.uci.edu/"
driver.get(url)

In [5]:
# navigate to the ShowAllDataset page
show_all_dataset = driver.find_element(By.XPATH, "/html/body/table[1]/tbody/tr/td[2]/span[2]/a")
show_all_dataset.click()

In [6]:
# Create empty lists to store the dataset details
dataset_names = []
data_types = []
tasks = []
attribute_types = []
no_of_instances = []
no_of_attributes = []
years = []

In [7]:
# get the list of all datasets on the page
datasets = driver.find_elements(By.XPATH, "/html/body/table[2]/tbody/tr/td[2]/table[1]/tbody/tr/td[2]")

time.sleep(5)

# loop through the rows of the table and get the details of each dataset
dataset_details = []
for row in datasets[1:]:
    details = row.find_elements(By.TAG_NAME, "td")
    dataset_name = details[0].text
    data_type = details[1].text
    if len(details) > 2:
        task = details[2].text
    else:
        task = ""
    if len(details) > 3:
        attribute_type = details[3].text
    else:
        attribute_type = ""
    if len(details) > 4:
        no_of_instances = details[4].text
    else:
        no_of_instances = ""
    if len(details) > 5:
        no_of_attributes = details[5].text
    else:
        no_of_attributes = ""
    year = details[-1].text
    dataset_details.append([dataset_name, data_type, task, attribute_type, no_of_instances, no_of_attributes, year])


# create a dataframe from the dataset details list
df = pd.DataFrame(dataset_details, columns=['Dataset Name', 'Data Type', 'Task', 'Attribute Type', 'No of Instances', 'No of Attributes', 'Year'])
print(df)

Empty DataFrame
Columns: [Dataset Name, Data Type, Task, Attribute Type, No of Instances, No of Attributes, Year]
Index: []

In [8]:
# close the browser
driver.quit()

DATA SCIENCE RECRUITERS

In [1]:
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd
import time

In [2]:
import os
print(os.getcwd())

/Users/sukanyasemwal

In [3]:
# Launching the chrome browser
driver = webdriver.Chrome()

In [4]:
# navigate the url
driver.get('https://www.naukri.com/hr-recruiters-consultants')

In [5]:
# enter "Data Science" in the search field and click on the search button
# Wait for up to 10 seconds for the element to be interactable
wait = WebDriverWait(driver, 10)
search_field = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input')))
search_field.send_keys("Data Science")

In [6]:
search_button = driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button')
search_button.click()

In [7]:
# Create empty table to save data
recruiters_data = []

time.sleep(10)

# Loop through the first 50 recruiter listings and extract their details
for i in range(1, 51):
    # Find the elements containing the recruiter's details
    name_element = driver.find_elements(By.XPATH, f'/html/body/div[3]/div/div[2]/div/div[2]/div[{i}]/div[1]/div[1]/div[1]/p/a[1]')
    designation_element = driver.find_elements(By.XPATH, f'/html/body/div[3]/div/div[2]/div/div[2]/div[{i}]/div[1]/div[1]/div[1]/p/span[1]')
    company_element = driver.find_elements(By.XPATH, f'/html/body/div[3]/div/div[2]/div/div[2]/div[{i}]/div[1]/div[1]/div[1]/p/a[2]')
    skills_element = driver.find_elements(By.XPATH, f'/html/body/div[3]/div/div[2]/div/div[2]/div[{i}]/div[1]/div[1]/div[2]')
    location_element = driver.find_elements(By.XPATH, f'/html/body/div[3]/div/div[2]/div/div[2]/div[{i}]/div[1]/div[1]/div[1]/p/span[2]/small')
    
    # Extract the text from the elements
    name_text = name_element[0].text if name_element else ''
    designation_text = designation_element[0].text if designation_element else ''
    company_text = company_element[0].text if company_element else ''
    skills_text = skills_element[0].text if skills_element else ''
    location_text = location_element[0].text if location_element else ''

    # Add the recruiter's details to the table
    recruiters_data.append([name_text, designation_text, company_text, skills_text, location_text])

In [8]:
time.sleep(10)
# Print the recruiter details
for recruiter in recruiters_data:
    print(f"Name: {recruiter[0]}")
    print(f"Designation: {recruiter[1]}")
    print(f"Company: {recruiter[2]}")
    print(f"Skills: {recruiter[3]}")
    print(f"Location: {recruiter[4]}")
    print("-----")

Name: Aakash Harit
Designation: HR Manager
Company: Data Science Network
Skills: Classic ASP Developer, Internet Marketing Professional, Data Science SME, Content Writers, SEO Professional, Revenue Professional
Location: Delhi
-----
Name: MARSIAN Technologies LLP
Designation: Company HR
Company: MARSIAN Technologies LLP
Skills: Data Science, Artificial Intelligence, Machine Learning, Business Analytics, Deep Learning, statistics, Data Analytics, Data Analysis, support vector machine
Location: Pune
-----
Name: subhas patel
Designation: Founder CEO
Company: LibraryXProject
Skills: Hadoop, Spark, Digital Strategy, Data Architecture, Command Center, Cdp, Dmp, Kafka, Data Science, Data Analysis, Big Data Analytics, Real Time Analysis, SQL
Location: UK - (london)
-----
Name: Institute for Financial Management and Resear
Designation: Programme Manager
Company: IFMR
Skills: Data Science
Location: Chennai
-----
Name: Asif Lucknowi
Designation: Director
Company: Weupskill- Live Wire India
Skills: Technical Training, Software Development, Presentation Skills, B.tech, M.tech, B.e., mca, msc, Computer Science, freshers, jobs in indore, Data Science, itil
Location: Indore
-----
Name: Kalpana Dumpala
Designation: Executive Hiring
Company: Innominds Software
Skills: Qa, Ui/ux, Java Developer, Java Architect, C++/qt, Php, Lamp, Api, J2ee, Java, Soa, Esb, Middleware, Bigdata Achitect, Hadoop Architect, Deep
Location: Hyderabad / Secunderabad
-----
Name: Kushal Rastogi
Designation: Company HR
Company: QuantMagnum Technologies Pvt. Ltd.
Skills: Office Administration, Hr Administration, telecalling, client relationship management, Client Acquisition, Sales, Reception, HR, Recruitment, Onboarding, Human
Location: Mumbai
-----
Name: Priyanka Akiri
Designation: HR Manager
Company: Infinitive Software Solutions
Skills: Oracle Dba, Data Science, Data Warehousing, ETL, Jupyter, Numpy, Data Transformation, Snowflake, Teradata, Python, Data Manipulation, Relational Databases
Location: Hyderabad
-----
Name: Vaishnavi Kudalkar
Designation: HR Executive
Company: Codeachive learning
Skills: Data Science, Python, Data Analytics
Location: Mumbai
-----
Name: Ruchi Dhote
Designation: Senior Executive Talent Acquisition
Company: Bristlecone India Ltd
Skills: Qlikview, Qlik Sense, Microsoft Azure, Power Bi, Data Science, Machine Learning
Location: Pune
-----
Name: Riya Rajesh
Designation: Manager Talent Acquisition
Company: Novelworx Digital Solutions
Skills: Data Science
Location: Cochin
-----
Name: Faizan Kareem
Designation: HR MANAGER
Company: FirstTech Consaltants Pvt.Ltd
Skills: Data Analytics, Data Science, Machine Learning, Deep Learning, Nlp, Data Mining, Python, R, Database Administration, Text Mining
Location: Hyderabad / Secunderabad
-----
Name: Sandhya Khandagale
Designation: HR Recruiter
Company: Compumatrice Multimedia Pvt Ltd
Skills: Big Data, Data Science, Artificial Intelligence, Hadoop, Ui Development, Php, Freelancing, .Net, Software Testing, Sap, Leadership Hiring
Location: Pune
-----
Name: Deeparchi Sharma
Designation: Company Recruiter
Company: ZIGRAM
Skills: Research, Digital Marketing, Analytics, Software Development, Data Science, Consulting
Location: Gurgaon
-----
Name: Manas
Designation: Lead Talent acquisition
Company: Autumn Leaf Consulting Services Private...
Skills: Software Architecture, Vp Engineering, Product Management, analytics, Data Science, Node.js, Principal Engineer, Big Data, python, angularjs, React.js
Location: Bengaluru / Bangalore
-----
Name: Sunil Vedula
Designation: CEO
Company: Nanoprecise Sci Corp
Skills: Signal Processing, Machine Learning, Neural Networks, Data Science, Predictive Analytics, Time Series Analysis, Data Visualization, Technical Leadership, Data
Location:
-----
Name: Dhruv Dev Dubey
Designation: Company Recruitment Head
Company: NETAPS FOUNDATION
Skills: Server Administartion, Verilog, Vhdl, Digital Marketing, Market Research, Property Research, Legal, It And Non It Recruitment, Logistics, Supply Chain, Bfsi
Location: Bengaluru / Bangalore
-----
Name: Jayanth N
Designation: Project Manager
Company: Dollarbird Information Services Pvt, Ltd
Skills: Data Analytics, Managed Services, Team Leading, python, Machine Learning, Google Analytics, Dmp, Aws, Campaign Analytics, Digital Campaigns, Audience
Location: Mysoru / Mysore
-----
Name: Priya Khare
Designation: Senior Manager
Company: Independent Consultant
Skills: Data Science, Artificial Intelligence, analytics, Business Intelligence, python, tableau, Power Bi, qlikview, sql, Data Warehousing, Data Visualization
Location: Bengaluru / Bangalore
-----
Name: Kanan
Designation: senior technology instructor
Company: NY INST
Skills: C, C++, Artificial Intelligence, Python, Php, Web Development, Matlab, Data Science, Augmented Reality, C C++
Location: Chennai
-----
Name: Brad
Designation: Manager, Technical Recruiting
Company: O.C. Tanner
Skills: Data Science, Software Engineering
Location: Salt Lake City
-----
Name: Madhusudhan Sridhar
Designation: Erp Implementer
Company: MADHUSUDHAN SRIDHAR
Skills: Data Science, Recruitment, Salary
Location: Bengaluru / Bangalore
-----
Name: Gaurav Chouhan
Designation: Chief Technical Officer
Company: Strategic Consulting Lab
Skills: Software Development, Business Intelligence, Big Data Analytics, Database Administration, Data Science, Microsoft Azure, Spark, Cassandra, Object Oriented
Location: Indore
-----
Name: Ashwini
Designation: Director Global Delivery
Company: MRP Advisers
Skills: Data Science, Media Marketing, Resource Planning, Managed Services, Display Advertising, Machine Learning, Python, Etl, Sql
Location: MYSORE
-----
Name: Rajani Nagaraj
Designation: HR Manager
Company: WildJasmine
Skills: Java, Hadoop, R, Machine Learning, Spark, Flume, Hdfs, Data Mining, Sas, Big, Data Science, Cloudera, Impala, Bigdata
Location: Bengaluru / Bangalore
-----
Name:
Designation:
Company:
Skills:
Location:
-----
Name:
Designation:
Company:
Skills:
Location:
-----
Name:
Designation:
Company:
Skills:
Location:
-----
Name:
Designation:
Company:
Skills:
Location:
-----
Name:
Designation:
Company:
Skills:
Location:
-----
Name:
Designation:
Company:
Skills:
Location:
-----
Name:
Designation:
Company:
Skills:
Location:
-----
Name:
Designation:
Company:
Skills:
Location:
-----
Name:
Designation:
Company:
Skills:
Location:
-----
Name:
Designation:
Company:
Skills:
Location:
-----
Name:
Designation:
Company:
Skills:
Location:
-----
Name:
Designation:
Company:
Skills:
Location:
-----
Name:
Designation:
Company:
Skills:
Location:
-----
Name:
Designation:
Company:
Skills:
Location:
-----
Name:
Designation:
Company:
Skills:
Location:
-----
Name:
Designation:
Company:
Skills:
Location:
-----
Name:
Designation:
Company:
Skills:
Location:
-----
Name:
Designation:
Company:
Skills:
Location:
-----
Name:
Designation:
Company:
Skills:
Location:
-----
Name:
Designation:
Company:
Skills:
Location:
-----
Name:
Designation:
Company:
Skills:
Location:
-----
Name:
Designation:
Company:
Skills:
Location:
-----
Name:
Designation:
Company:
Skills:
Location:
-----
Name:
Designation:
Company:
Skills:
Location:
-----
Name:
Designation:
Company:
Skills:
Location:
-----

In [9]:
# Create a DataFrame from the table
df = pd.DataFrame(recruiters_data, columns=["Name", "Designation", "Company", "Skills they hire for", "Location"])
print(df)

                                             Name  \
0                                    Aakash Harit
1                        MARSIAN Technologies LLP
2                                    subhas patel
3   Institute for Financial Management and Resear
4                                   Asif Lucknowi
5                                 Kalpana Dumpala
6                                  Kushal Rastogi
7                                  Priyanka Akiri
8                              Vaishnavi Kudalkar
9                                     Ruchi Dhote
10                                    Riya Rajesh
11                                  Faizan Kareem
12                             Sandhya Khandagale
13                               Deeparchi Sharma
14                                          Manas
15                                   Sunil Vedula
16                                Dhruv Dev Dubey
17                                      Jayanth N
18                                    Priya Khare
19                                          Kanan
20                                           Brad
21                            Madhusudhan Sridhar
22                                 Gaurav Chouhan
23                                        Ashwini
24                                 Rajani Nagaraj
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

                            Designation  \
0                            HR Manager
1                            Company HR
2                           Founder CEO
3                     Programme Manager
4                              Director
5                      Executive Hiring
6                            Company HR
7                            HR Manager
8                          HR Executive
9   Senior Executive Talent Acquisition
10           Manager Talent Acquisition
11                           HR MANAGER
12                         HR Recruiter
13                    Company Recruiter
14              Lead Talent acquisition
15                                  CEO
16             Company Recruitment Head
17                      Project Manager
18                       Senior Manager
19         senior technology instructor
20        Manager, Technical Recruiting
21                      Erp Implementer
22              Chief Technical Officer
23             Director Global Delivery
24                           HR Manager
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

                                       Company  \
0                         Data Science Network
1                     MARSIAN Technologies LLP
2                              LibraryXProject
3                                         IFMR
4                   Weupskill- Live Wire India
5                           Innominds Software
6           QuantMagnum Technologies Pvt. Ltd.
7                Infinitive Software Solutions
8                          Codeachive learning
9                        Bristlecone India Ltd
10                 Novelworx Digital Solutions
11               FirstTech Consaltants Pvt.Ltd
12             Compumatrice Multimedia Pvt Ltd
13                                      ZIGRAM
14  Autumn Leaf Consulting Services Private...
15                        Nanoprecise Sci Corp
16                           NETAPS FOUNDATION
17    Dollarbird Information Services Pvt, Ltd
18                      Independent Consultant
19                                     NY INST
20                                 O.C. Tanner
21                         MADHUSUDHAN SRIDHAR
22                    Strategic Consulting Lab
23                                MRP Advisers
24                                 WildJasmine
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

                                 Skills they hire for  \
0   Classic ASP Developer, Internet Marketing Prof...
1   Data Science, Artificial Intelligence, Machine...
2   Hadoop, Spark, Digital Strategy, Data Architec...
3                                        Data Science
4   Technical Training, Software Development, Pres...
5   Qa, Ui/ux, Java Developer, Java Architect, C++...
6   Office Administration, Hr Administration, tele...
7   Oracle Dba, Data Science, Data Warehousing, ET...
8                Data Science, Python, Data Analytics
9   Qlikview, Qlik Sense, Microsoft Azure, Power B...
10                                       Data Science
11  Data Analytics, Data Science, Machine Learning...
12  Big Data, Data Science, Artificial Intelligenc...
13  Research, Digital Marketing, Analytics, Softwa...
14  Software Architecture, Vp Engineering, Product...
15  Signal Processing, Machine Learning, Neural Ne...
16  Server Administartion, Verilog, Vhdl, Digital ...
17  Data Analytics, Managed Services, Team Leading...
18  Data Science, Artificial Intelligence, analyti...
19  C, C++, Artificial Intelligence, Python, Php, ...
20                 Data Science, Software Engineering
21                  Data Science, Recruitment, Salary
22  Software Development, Business Intelligence, B...
23  Data Science, Media Marketing, Resource Planni...
24  Java, Hadoop, R, Machine Learning, Spark, Flum...
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

                    Location
0                      Delhi
1                       Pune
2              UK - (london)
3                    Chennai
4                     Indore
5   Hyderabad / Secunderabad
6                     Mumbai
7                  Hyderabad
8                     Mumbai
9                       Pune
10                    Cochin
11  Hyderabad / Secunderabad
12                      Pune
13                   Gurgaon
14     Bengaluru / Bangalore
15
16     Bengaluru / Bangalore
17           Mysoru / Mysore
18     Bengaluru / Bangalore
19                   Chennai
20            Salt Lake City
21     Bengaluru / Bangalore
22                    Indore
23                    MYSORE
24     Bengaluru / Bangalore
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [10]:
# close the browser
driver.quit()