In [29]:
!pip install selenium

Requirement already satisfied: selenium in ./opt/anaconda3/lib/python3.9/site-packages (4.8.0)
Requirement already satisfied: certifi>=2021.10.8 in ./opt/anaconda3/lib/python3.9/site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio-websocket~=0.9 in ./opt/anaconda3/lib/python3.9/site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in ./opt/anaconda3/lib/python3.9/site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio~=0.17 in ./opt/anaconda3/lib/python3.9/site-packages (from selenium) (0.22.0)
Requirement already satisfied: attrs>=19.2.0 in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: outcome in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: async-generator>=1.9 in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: wsproto>=0.14 in ./opt/anaconda3/lib/python3.9/site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in ./opt/anaconda3/lib/python3.9/site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in ./opt/anaconda3/lib/python3.9/site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [73]:
import selenium
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [74]:
import os
print(os.getcwd())

/Users/sukanyasemwal

In [75]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service

with open('/Users/sukanyasemwal/Downloads/chromedriver_mac_arm64/chromedriver', 'rb') as f:
    encoded_data = f.read()
    decoded_data = encoded_data.decode('utf-8', 'ignore')

driver = webdriver.Chrome(service=Service(executable_path='/Users/sukanyasemwal/Downloads/chromedriver_mac_arm64/chromedriver'))

In [76]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service

with open('/Users/sukanyasemwal/Downloads/chromedriver_mac_arm64/chromedriver', 'rb') as f:
    encoded_data = f.read()
    decoded_data = encoded_data.decode('utf-8', 'ignore')

driver = webdriver.Chrome(service=Service(executable_path='/Users/sukanyasemwal/Downloads/chromedriver_mac_arm64/chromedriver'))

In [77]:
# opening the naukri page on automated browser
driver.get("https://www.naukri.com/")

In [78]:
# Entering designation and location as required in the equation
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [79]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [80]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [81]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [82]:
# scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
# scraping job experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [83]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [84]:
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Data Analyst- Yulu Energy,Bangalore/Bengaluru,Yulu Bikes,0-1 Yrs
1,Data Analyst,Bangalore/Bengaluru,Entrupy,1-3 Yrs
2,Data Analyst,"Hybrid - Bangalore/Bengaluru, Hyderabad/Secund...",EY,5-10 Yrs
3,Data Analyst,Hybrid - Bangalore/Bengaluru,Allegis Group,4-7 Yrs
4,Required Data Analyst Off Role,Bangalore/Bengaluru,TeamLease,3-5 Yrs
5,Data Analyst,Bangalore/Bengaluru,Staffice Global,14-18 Yrs
6,Data Analyst,Bangalore/Bengaluru,What Digital Technologies,5-10 Yrs
7,Data Analyst,Bangalore/Bengaluru,Course5 Intelligence,1-2 Yrs
8,Data Analyst,Bangalore/Bengaluru,FresherMart,2-3 Yrs
9,Data Analyst Databricks,Bangalore/Bengaluru,Optum,4-6 Yrs

DATA SCIENTIST

In [62]:
import selenium
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [63]:
import os
print(os.getcwd())

/Users/sukanyasemwal

In [64]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service

with open('/Users/sukanyasemwal/Downloads/chromedriver_mac_arm64/chromedriver', 'rb') as f:
    encoded_data = f.read()
    decoded_data = encoded_data.decode('utf-8', 'ignore')

driver = webdriver.Chrome(service=Service(executable_path='/Users/sukanyasemwal/Downloads/chromedriver_mac_arm64/chromedriver'))

In [65]:
# opening the naukri page on automated browser
driver.get("https://www.naukri.com/")

In [66]:
# Entering designation and location as required in the equation
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [67]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [68]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[6]")
search.click()

In [69]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [70]:
# scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
# scraping job experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [71]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [72]:
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,2-4 Yrs
1,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,6-8 Yrs
2,Data Scientist,"Hybrid - Bangalore/Bengaluru, Kolkata, Hyderab...",Cognizant,8-10 Yrs
3,Sr. Data scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, M...",Tata Consultancy Services (TCS),7-12 Yrs
4,Data Scientist,"Bangalore/Bengaluru, Noida, Kolkata, Mumbai, H...",Capgemini,9-14 Yrs
5,Lead Data Scientist,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Birlasoft,8-12 Yrs
6,Data Scientist,"Bangalore/Bengaluru, Noida, Indore, Pune, Gurg...",Impetus Technologies,4-8 Yrs
7,Expert Data Scientist,"Bangalore/Bengaluru, Mumbai",UPL Limited,8-10 Yrs
8,Data Scientist Architect,"Temp. WFH - Bangalore/Bengaluru, Hyderabad/Sec...",Brace Infotech,11-20 Yrs
9,Lead Artificial Intelligence Specialist,Bangalore/Bengaluru,Baker Hughes,5-10 Yrs

DATA ACIENTIST-SALLERY

In [1]:
import selenium
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
import os
print(os.getcwd())

/Users/sukanyasemwal

In [11]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service

with open('/Users/sukanyasemwal/Downloads/chromedriver_mac_arm64/chromedriver', 'rb') as f:
    encoded_data = f.read()
    decoded_data = encoded_data.decode('utf-8', 'ignore')

driver = webdriver.Chrome(service=Service(executable_path='/Users/sukanyasemwal/Downloads/chromedriver_mac_arm64/chromedriver'))

In [12]:
# opening the naukri page on automated browser
driver.get("https://www.naukri.com/")

In [13]:
# Entering designation and location as required in the equation
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [14]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Delhi-NCR')

In [15]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[6]")
search.click()

In [20]:
salary=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[1]/span")
salary.click()

In [22]:
lakh3to6_checkbox = salary.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]")
lakh3to6_checkbox.click()

In [23]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [24]:
# scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
# scraping job experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [25]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [26]:
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Data Science Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,2-4 Yrs
1,Sr. Associate - QR Strats Analytics,Mumbai,Morgan Stanley,2-6 Yrs
2,Data Scientist,Bangalore/Bengaluru,Capgemini,3-5 Yrs
3,Senior Data Science and Analytics Strategy Con...,Bangalore/Bengaluru,Wells Fargo,5-7 Yrs
4,Smart Dispatcher,Bangalore/Bengaluru,Capgemini,6-9 Yrs
5,Data Scientist data Analyst,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Smark Laser Automation,0-5 Yrs
6,Data Science/ ML freshers,"Mumbai, Hyderabad/Secunderabad, Pune, Chennai,...",Cliqhr Recruitment Services,0-1 Yrs
7,MACHINE LEARNING / DATA SCIENCE TRAINER,Bangalore/Bengaluru,Ethnotech Academy,2-5 Yrs
8,Data Science Professional,Bangalore/Bengaluru,Infosys,4-6 Yrs
9,Data Scientist,Bangalore/Bengaluru,Infosys,3-5 Yrs

FLIPKART-SUNGLASSES

In [7]:
import selenium
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [8]:
import os
print(os.getcwd())

/Users/sukanyasemwal

In [9]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service

with open('/Users/sukanyasemwal/Downloads/chromedriver_mac_arm64/chromedriver', 'rb') as f:
    encoded_data = f.read()
    decoded_data = encoded_data.decode('utf-8', 'ignore')

driver = webdriver.Chrome(service=Service(executable_path='/Users/sukanyasemwal/Downloads/chromedriver_mac_arm64/chromedriver'))

In [10]:
# opening the naukri page on automated browser
driver.get("https://www.flipkart.com/")

In [11]:
search=driver.find_element(By.XPATH,"/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search.send_keys("sunglasses")

In [13]:
search.click()