DATA FRAME: wikipedia.org

In [1]:
import requests

In [2]:
import pandas as pd

In [4]:
from bs4 import BeautifulSoup

# Get the content of the wikipedia page
url = "https://en.wikipedia.org/wiki/Web_scraping"
page = requests.get(url)
soup = BeautifulSoup(page.content, "html.parser")

# Find all header tags and store their text in a list
headers = []
for header_tag in soup.find_all(["h1", "h2", "h3", "h4", "h5", "h6"]):
    headers.append(header_tag.text)

# Create a data frame from the list of headers
df = pd.DataFrame(headers, columns=["Header Text"])

print(df)

                                Header Text
0                                  Contents
1                              Web scraping
2                             History[edit]
3                          Techniques[edit]
4                Human copy-and-paste[edit]
5               Text pattern matching[edit]
6                    HTTP programming[edit]
7                        HTML parsing[edit]
8                         DOM parsing[edit]
9                Vertical aggregation[edit]
10    Semantic annotation recognizing[edit]
11  Computer vision web-page analysis[edit]
12                           Software[edit]
13                       Legal issues[edit]
14                      United States[edit]
15                     European Union[edit]
16                          Australia[edit]
17                              India[edit]
18    Methods to prevent web scraping[edit]
19                           See also[edit]
20                         References[edit]

IMBD's top rated 50 movies: DATA FRAME

In [9]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

# Get the content of the IMDb page
url = "https://www.imdb.com/chart/top"
page = requests.get(url)
soup = BeautifulSoup(page.content, "html.parser")

# Find all movie entries and store their name, rating, and year of release in a list
movies = []
for movie_entry in soup.find_all("td", class_="titleColumn"):
    movie_name = movie_entry.find("a").text
    movie_year = movie_entry.find("span").text[1:-1]
    movie_rating = movie_entry.find_next("td", class_="ratingColumn").find("strong").text
    movies.append({"Name": movie_name, "Year": movie_year, "Rating": movie_rating})

# Create a data frame from the list of movies
df = pd.DataFrame(movies)

print(df)

                         Name  Year Rating
0    The Shawshank Redemption  1994    9.2
1               The Godfather  1972    9.2
2             The Dark Knight  2008    9.0
3       The Godfather Part II  1974    9.0
4                12 Angry Men  1957    9.0
..                        ...   ...    ...
245                  The Help  2011    8.0
246                   Aladdin  1992    8.0
247               Dersu Uzala  1975    8.0
248                    Gandhi  1982    8.0
249        Dances with Wolves  1990    8.0

[250 rows x 3 columns]

IMBD's top rated 50 indian movies: DATA FRAME

In [11]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

url = "https://www.imdb.com/india/top-rated-indian-movies/"
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

movies = []
rows = soup.find("tbody", class_="lister-list").find_all("tr")
for row in rows:
    movie = {}
    movie["name"] = row.find("td", class_="titleColumn").a.text
    movie["rating"] = row.find("td", class_="ratingColumn imdbRating").strong.text
    movie["year"] = row.find("span", class_="secondaryInfo").text[1:5]
    movies.append(movie)

df = pd.DataFrame(movies)
print(df)

                                    name rating  year
0    Ramayana: The Legend of Prince Rama    8.5  1993
1             Rocketry: The Nambi Effect    8.4  2022
2                               Gol Maal    8.4  1979
3                                Nayakan    8.4  1987
4                             Anbe Sivam    8.4  2003
..                                   ...    ...   ...
245                       Poove Unakkaga    7.7  1996
246                        Minnal Murali    7.7  2021
247                    Thiruchitrambalam    7.7  2022
248                           Goodachari    7.7  2018
249                                 Joji    7.6  2021

[250 rows x 3 columns]

In [10]:
presidents = [    {"Name": "Dr. Rajendra Prasad", "Term of office": "26 January 1950 to 13 May 1962"},    {"Name": "Dr. Sarvepalli Radhakrishnan", "Term of office": "13 May 1962 to 13 May 1967"},    {"Name": "Dr. Zakir Hussain", "Term of office": "13 May 1967 to 3 May 1969"},    {"Name": "Varahagiri Venkata Giri", "Term of office": "24 August 1969 to 24 August 1974"},    {"Name": "Fakhruddin Ali Ahmed", "Term of office": "24 August 1974 to 11 February 1977"},    {"Name": "Neelam Sanjiva Reddy", "Term of office": "25 July 1977 to 25 July 1982"},    {"Name": "Giani Zail Singh", "Term of office": "25 July 1982 to 25 July 1987"},    {"Name": "Ramaswamy Venkataraman", "Term of office": "25 July 1987 to 25 July 1992"},    {"Name": "Shankar Dayal Sharma", "Term of office": "25 July 1992 to 25 July 1997"},    {"Name": "Kocheril Raman Narayanan", "Term of office": "25 July 1997 to 25 July 2002"},    {"Name": "A.P.J. Abdul Kalam", "Term of office": "25 July 2002 to 25 July 2007"},    {"Name": "Pratibha Patil", "Term of office": "25 July 2007 to 25 July 2012"},    {"Name": "Pranab Mukherjee", "Term of office": "25 July 2012 to 25 July 2017"},    {"Name": "Ram Nath Kovind", "Term of office": "25 July 2017 to 25 July 2022"}, {"Name": "Droupadi Murmu", "Term of office": "25 July 2022 to present"}]

for president in presidents:
    print("Name:", president["Name"])
    print("Term of office:", president["Term of office"])
    print("")

Name: Dr. Rajendra Prasad
Term of office: 26 January 1950 to 13 May 1962

Name: Dr. Sarvepalli Radhakrishnan
Term of office: 13 May 1962 to 13 May 1967

Name: Dr. Zakir Hussain
Term of office: 13 May 1967 to 3 May 1969

Name: Varahagiri Venkata Giri
Term of office: 24 August 1969 to 24 August 1974

Name: Fakhruddin Ali Ahmed
Term of office: 24 August 1974 to 11 February 1977

Name: Neelam Sanjiva Reddy
Term of office: 25 July 1977 to 25 July 1982

Name: Giani Zail Singh
Term of office: 25 July 1982 to 25 July 1987

Name: Ramaswamy Venkataraman
Term of office: 25 July 1987 to 25 July 1992

Name: Shankar Dayal Sharma
Term of office: 25 July 1992 to 25 July 1997

Name: Kocheril Raman Narayanan
Term of office: 25 July 1997 to 25 July 2002

Name: A.P.J. Abdul Kalam
Term of office: 25 July 2002 to 25 July 2007

Name: Pratibha Patil
Term of office: 25 July 2007 to 25 July 2012

Name: Pranab Mukherjee
Term of office: 25 July 2012 to 25 July 2017

Name: Ram Nath Kovind
Term of office: 25 July 2017 to 25 July 2022

Name: Droupadi Murmu
Term of office: 25 July 2022 to present

In [12]:
import pandas as pd

presidents = [    {"Name": "Dr. Rajendra Prasad", "Term of office": "26 January 1950 to 13 May 1962"},    {"Name": "Dr. Sarvepalli Radhakrishnan", "Term of office": "13 May 1962 to 13 May 1967"},    {"Name": "Dr. Zakir Hussain", "Term of office": "13 May 1967 to 3 May 1969"},    {"Name": "Varahagiri Venkata Giri", "Term of office": "24 August 1969 to 24 August 1974"},    {"Name": "Fakhruddin Ali Ahmed", "Term of office": "24 August 1974 to 11 February 1977"},    {"Name": "Neelam Sanjiva Reddy", "Term of office": "25 July 1977 to 25 July 1982"},    {"Name": "Giani Zail Singh", "Term of office": "25 July 1982 to 25 July 1987"},    {"Name": "Ramaswamy Venkataraman", "Term of office": "25 July 1987 to 25 July 1992"},    {"Name": "Shankar Dayal Sharma", "Term of office": "25 July 1992 to 25 July 1997"},    {"Name": "Kocheril Raman Narayanan", "Term of office": "25 July 1997 to 25 July 2002"},    {"Name": "A.P.J. Abdul Kalam", "Term of office": "25 July 2002 to 25 July 2007"},    {"Name": "Pratibha Patil", "Term of office": "25 July 2007 to 25 July 2012"},    {"Name": "Pranab Mukherjee", "Term of office": "25 July 2012 to 25 July 2017"},    {"Name": "Ram Nath Kovind", "Term of office": "25 July 2017 to 25 July 2022"}, {"Name": "Droupadi Murmu", "Term of office": "25 July 2022 to present"}]

df = pd.DataFrame(presidents)

print(df)

                            Name                      Term of office
0            Dr. Rajendra Prasad      26 January 1950 to 13 May 1962
1   Dr. Sarvepalli Radhakrishnan          13 May 1962 to 13 May 1967
2              Dr. Zakir Hussain           13 May 1967 to 3 May 1969
3        Varahagiri Venkata Giri    24 August 1969 to 24 August 1974
4           Fakhruddin Ali Ahmed  24 August 1974 to 11 February 1977
5           Neelam Sanjiva Reddy        25 July 1977 to 25 July 1982
6               Giani Zail Singh        25 July 1982 to 25 July 1987
7         Ramaswamy Venkataraman        25 July 1987 to 25 July 1992
8           Shankar Dayal Sharma        25 July 1992 to 25 July 1997
9       Kocheril Raman Narayanan        25 July 1997 to 25 July 2002
10            A.P.J. Abdul Kalam        25 July 2002 to 25 July 2007
11                Pratibha Patil        25 July 2007 to 25 July 2012
12              Pranab Mukherjee        25 July 2012 to 25 July 2017
13               Ram Nath Kovind        25 July 2017 to 25 July 2022
14                Droupadi Murmu             25 July 2022 to present

ICC

In [2]:
import requests
from bs4 import BeautifulSoup

url = "https://www.icc-cricket.com/rankings/mens/team-rankings/odi"
page = requests.get(url)
soup = BeautifulSoup(page.content, "html.parser")

table = soup.find("table", class_="table")
teams = table.tbody.find_all("tr")

print("ICC Men's ODI Team Rankings")
print("Rank\tTeam\tMatches\tPoints\tRating")

for i, team in enumerate(teams[:10]):
    tds = team.find_all("td")
    rank = tds[0].text.strip()
    name = tds[1].text.strip()
    matches = tds[2].text.strip()
    points = tds[3].text.strip()
    rating = tds[4].text.strip()
    print(f"{rank}\t{name}\t{matches}\t{points}\t{rating}")

ICC Men's ODI Team Rankings
Rank	Team	Matches	Points	Rating
1	India
IND	44	5,010	114
2	Australia
AUS	32	3,572	112
3	New Zealand
NZ	29	3,229	111
4	England
ENG	33	3,656	111
5	Pakistan
PAK	25	2,649	106
6	South Africa
SA	27	2,775	103
7	Bangladesh
BAN	33	3,129	95
8	Sri Lanka
SL	34	2,976	88
9	Afghanistan
AFG	20	1,419	71
10	West Indies
WI	41	2,902	71

In [3]:
import pandas as pd

data = []
for i, team in enumerate(teams[:10]):
    tds = team.find_all("td")
    rank = tds[0].text.strip()
    name = tds[1].text.strip()
    matches = tds[2].text.strip()
    points = tds[3].text.strip()
    rating = tds[4].text.strip()
    data.append([rank, name, matches, points, rating])

df = pd.DataFrame(data, columns=["Rank", "Team", "Matches", "Points", "Rating"])
print(df)

  Rank              Team Matches Points Rating
0    1        India\nIND      44  5,010    114
1    2    Australia\nAUS      32  3,572    112
2    3   New Zealand\nNZ      29  3,229    111
3    4      England\nENG      33  3,656    111
4    5     Pakistan\nPAK      25  2,649    106
5    6  South Africa\nSA      27  2,775    103
6    7   Bangladesh\nBAN      33  3,129     95
7    8     Sri Lanka\nSL      34  2,976     88
8    9  Afghanistan\nAFG      20  1,419     71
9   10   West Indies\nWI      41  2,902     71

In [20]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting"

# Send a request to the website and retrieve the source code
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

# Find the table containing the player rankings
table = soup.find("table", attrs={"class": "table"})

# Extract the data from the table
data = []
for row in table.find_all("tr")[1:]:
    cols = row.find_all("td")
    player = cols[1].text.strip()
    team = cols[2].text.strip()
    rating = cols[3].text.strip()
    data.append([player, team, rating])

# Create a DataFrame from the extracted data
df = pd.DataFrame(data, columns=["Player", "Team", "Rating"])
print(df.head(10))

                  Player Team Rating
0             Babar Azam  PAK    887
1  Rassie van der Dussen   SA    787
2           David Warner  AUS    747
3        Quinton de Kock   SA    743
4            Imam-ul-Haq  PAK    740
5           Shubman Gill  IND    734
6            Virat Kohli  IND    727
7            Steve Smith  AUS    719
8           Rohit Sharma  IND    719
9        Kane Williamson   NZ    700

In [21]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"

# Send a request to the website and retrieve the source code
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

# Find the table containing the player rankings
table = soup.find("table", attrs={"class": "table"})

# Extract the data from the table
data = []
for row in table.find_all("tr")[1:]:
    cols = row.find_all("td")
    player = cols[1].text.strip()
    team = cols[2].text.strip()
    rating = cols[3].text.strip()
    data.append([player, team, rating])

# Create a DataFrame from the extracted data
df = pd.DataFrame(data, columns=["Player", "Team", "Rating"])
print(df.head(10))

              Player Team Rating
0     Mohammed Siraj  IND    729
1     Josh Hazlewood  AUS    727
2        Trent Boult   NZ    708
3     Mitchell Starc  AUS    665
4        Rashid Khan  AFG    659
5         Adam Zampa  AUS    655
6    Shakib Al Hasan  BAN    652
7     Shaheen Afridi  PAK    641
8  Mustafizur Rahman  BAN    638
9   Mujeeb Ur Rahman  AFG    637

ICC WOMEN

In [22]:
import requests
from bs4 import BeautifulSoup

url = "https://www.icc-cricket.com/rankings/womens/team-rankings/odi"
page = requests.get(url)
soup = BeautifulSoup(page.content, "html.parser")

table = soup.find("table", class_="table")
teams = table.tbody.find_all("tr")

print("ICC Women's ODI Team Rankings")
print("Rank\tTeam\tMatches\tPoints\tRating")

for i, team in enumerate(teams[:10]):
    tds = team.find_all("td")
    rank = tds[0].text.strip()
    name = tds[1].text.strip()
    matches = tds[2].text.strip()
    points = tds[3].text.strip()
    rating = tds[4].text.strip()
    print(f"{rank}\t{name}\t{matches}\t{points}\t{rating}")

ICC Women's ODI Team Rankings
Rank	Team	Matches	Points	Rating
1	Australia
AUS	21	3,603	172
2	England
ENG	28	3,342	119
3	South Africa
SA	26	3,098	119
4	India
IND	27	2,820	104
5	New Zealand
NZ	25	2,553	102
6	West Indies
WI	27	2,535	94
7	Bangladesh
BAN	13	983	76
8	Thailand
THA	8	572	72
9	Pakistan
PAK	27	1,678	62
10	Sri Lanka
SL	8	353	44

In [23]:
import pandas as pd

data = []
for i, team in enumerate(teams[:10]):
    tds = team.find_all("td")
    rank = tds[0].text.strip()
    name = tds[1].text.strip()
    matches = tds[2].text.strip()
    points = tds[3].text.strip()
    rating = tds[4].text.strip()
    data.append([rank, name, matches, points, rating])

df = pd.DataFrame(data, columns=["Rank", "Team", "Matches", "Points", "Rating"])
print(df)

  Rank              Team Matches Points Rating
0    1    Australia\nAUS      21  3,603    172
1    2      England\nENG      28  3,342    119
2    3  South Africa\nSA      26  3,098    119
3    4        India\nIND      27  2,820    104
4    5   New Zealand\nNZ      25  2,553    102
5    6   West Indies\nWI      27  2,535     94
6    7   Bangladesh\nBAN      13    983     76
7    8     Thailand\nTHA       8    572     72
8    9     Pakistan\nPAK      27  1,678     62
9   10     Sri Lanka\nSL       8    353     44

In [22]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"

# Send a request to the website and retrieve the source code
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

# Find the table containing the player rankings
table = soup.find("table", attrs={"class": "table"})

# Extract the data from the table
data = []
for row in table.find_all("tr")[1:]:
    cols = row.find_all("td")
    player = cols[1].text.strip()
    team = cols[2].text.strip()
    rating = cols[3].text.strip()
    data.append([player, team, rating])

# Create a DataFrame 
df = pd.DataFrame(data, columns=["Player", "Team", "Rating"])
print(df.head(10))

                Player Team Rating
0         Alyssa Healy  AUS    762
1          Beth Mooney  AUS    754
2      Laura Wolvaardt   SA    732
3       Natalie Sciver  ENG    731
4          Meg Lanning  AUS    717
5     Harmanpreet Kaur  IND    716
6      Smriti Mandhana  IND    714
7       Rachael Haynes  AUS    680
8  Chamari Athapaththu   SL    655
9    Amy Satterthwaite   NZ    641

In [24]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder"

# Send a request to the website and retrieve the source code
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

# Find the table containing the player rankings
table = soup.find("table", attrs={"class": "table"})

# Extract the data from the table
data = []
for row in table.find_all("tr")[1:]:
    cols = row.find_all("td")
    player = cols[1].text.strip()
    team = cols[2].text.strip()
    rating = cols[3].text.strip()
    data.append([player, team, rating])

# Create a DataFrame 
df = pd.DataFrame(data, columns=["Player", "Team", "Rating"])
print(df.head(10))

             Player Team Rating
0   Hayley Matthews   WI    373
1    Natalie Sciver  ENG    371
2      Ellyse Perry  AUS    366
3    Marizanne Kapp   SA    349
4       Amelia Kerr   NZ    336
5     Deepti Sharma  IND    322
6  Ashleigh Gardner  AUS    292
7     Jess Jonassen  AUS    250
8          Nida Dar  PAK    232
9    Jhulan Goswami  IND    214

NEWS

In [33]:
# Send url request and download page source code
News_soup=BeautifulSoup(requests.get("https://www.cnbc.com/world/?region=world").content,"html.parser")

# Scrap Headlines
Headline=[i.text for i in News_soup.find_all(class_="LatestNews-headline") ] 

# Scrap Time
Time=[i.text for i in News_soup.find_all("span",class_="LatestNews-wrapper") ] 

# Scrap news Links
for links in News_soup.find_all("a",class_="LatestNews-headline"):
    links=links.get('href')

# Create data frame
news1=pd.DataFrame({'Headlines':Headline,'Time':Time,"Link":links})
news1

,Headlines,Time,Link
0,Google employees slam CEO Sundar Pichai for ‘r...,19 Min Ago,https://www.cnbc.com/2023/02/10/morgan-stanley...
1,Taylor Swift says fans will 'get on it' to red...,24 Min Ago,https://www.cnbc.com/2023/02/10/morgan-stanley...
2,Wall Street’s favorite sports-betting stocks a...,1 Hour Ago,https://www.cnbc.com/2023/02/10/morgan-stanley...
3,Here’s how much money Americans saved at every...,1 Hour Ago,https://www.cnbc.com/2023/02/10/morgan-stanley...
4,Bill Gates: Nuclear waste is not a reason to a...,1 Hour Ago,https://www.cnbc.com/2023/02/10/morgan-stanley...
5,"Stocks making the biggest moves midday: Lyft, ...",1 Hour Ago,https://www.cnbc.com/2023/02/10/morgan-stanley...
6,3 investing lessons from the Club’s meeting Fr...,1 Hour Ago,https://www.cnbc.com/2023/02/10/morgan-stanley...
7,Astronaut Sen. Kelly touts 'stunning' space bu...,2 Hours Ago,https://www.cnbc.com/2023/02/10/morgan-stanley...
8,Air Force's aging E-3 Sentry presents airborne...,2 Hours Ago,https://www.cnbc.com/2023/02/10/morgan-stanley...
9,FBI is searching home of Mike Pence for more c...,2 Hours Ago,https://www.cnbc.com/2023/02/10/morgan-stanley...
10,We're buying the dip in a beauty stock that st...,2 Hours Ago,https://www.cnbc.com/2023/02/10/morgan-stanley...
11,"National Archives, museum sued for telling vis...",2 Hours Ago,https://www.cnbc.com/2023/02/10/morgan-stanley...
12,Here's what's happening with home prices right...,2 Hours Ago,https://www.cnbc.com/2023/02/10/morgan-stanley...
13,Amazon is the latest threat to Facebook as ad ...,2 Hours Ago,https://www.cnbc.com/2023/02/10/morgan-stanley...
14,This is how Microsoft and Alphabet stack up ag...,2 Hours Ago,https://www.cnbc.com/2023/02/10/morgan-stanley...
15,These are the best deals on TVs ahead of Super...,2 Hours Ago,https://www.cnbc.com/2023/02/10/morgan-stanley...
16,Top House Republicans scrutinize SEC investiga...,2 Hours Ago,https://www.cnbc.com/2023/02/10/morgan-stanley...
17,"Steve Wozniak warns: ChatGPT is 'useful,' but ...",2 Hours Ago,https://www.cnbc.com/2023/02/10/morgan-stanley...
18,Why you won't see many car ads during Sunday's...,3 Hours Ago,https://www.cnbc.com/2023/02/10/morgan-stanley...
19,"How this 39-year-old earns $26,000 a year in C...",3 Hours Ago,https://www.cnbc.com/2023/02/10/morgan-stanley...
20,Goldman sees big layoff announcements as 'a ri...,3 Hours Ago,https://www.cnbc.com/2023/02/10/morgan-stanley...
21,An 85-year Harvard study found the No. 1 thing...,3 Hours Ago,https://www.cnbc.com/2023/02/10/morgan-stanley...
22,A.I. search could reap Microsoft $10 billion a...,4 Hours Ago,https://www.cnbc.com/2023/02/10/morgan-stanley...
23,Judge extends deadline in lawsuit seeking to p...,4 Hours Ago,https://www.cnbc.com/2023/02/10/morgan-stanley...
24,The hidden price of eggs: How high costs may t...,4 Hours Ago,https://www.cnbc.com/2023/02/10/morgan-stanley...
25,Where EV trucks are going to hit the road first,4 Hours Ago,https://www.cnbc.com/2023/02/10/morgan-stanley...
26,SEC considers 'adjustments' to controversial c...,4 Hours Ago,https://www.cnbc.com/2023/02/10/morgan-stanley...
27,Bill Gates thinks A.I. like ChatGPT is the 'mo...,4 Hours Ago,https://www.cnbc.com/2023/02/10/morgan-stanley...
28,Hybrid workers earn more than remote and in-pe...,4 Hours Ago,https://www.cnbc.com/2023/02/10/morgan-stanley...
29,Analyst Jonas says investors may have missed t...,4 Hours Ago,https://www.cnbc.com/2023/02/10/morgan-stanley...

ARTICLE FROM AI

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles"

# Make a GET request to the URL
response = requests.get(url)

# Check if the request was successful
if response.status_code == 200:
    html_content = response.content

    # Create a BeautifulSoup object
    soup = BeautifulSoup(html_content, "html.parser")

    # Find all the articles on the page
    articles = soup.find_all("article")
    titles = []
    authors = []
    dates = []
    links = []

    # Loop through each article
    for article in articles:
        #print(article)
        # Extract the paper title
        title = article.find("h2", class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg").text
        titles.append(title)

        # Extract the authors
        author = article.find("span", class_="sc-1w3fpd7-0 dnCnAO").text
        authors.append(author)

        # # Extract the published date
        date = article.find("span", class_="sc-1thf9ly-2 dvggWt").text
        dates.append(date)

        # # Extract the paper URL
        paper_url = article.find("a", class_="sc-5smygv-0 fIXTHm")["href"]
        links.append(paper_url)
# Create DataFrame
    df = pd.DataFrame({"Title": titles, "Authors": authors, "Date": dates, "Link": links})
    print(df)
else:
    # If the request was not successful, print an error message
    print("Failed to fetch the URL. Please check the URL and try again.")

                                                Title  \
0                                    Reward is enough
1                           Making sense of raw input
2   Law and logic: A review from an argumentation ...
3              Creativity and artificial intelligence
4   Artificial cognition for social human–robot in...
5   Explanation in artificial intelligence: Insigh...
6                       Making sense of sensory input
7   Conflict-based search for optimal multi-agent ...
8   Between MDPs and semi-MDPs: A framework for te...
9   The Hanabi challenge: A new frontier for AI re...
10  Evaluating XAI: A comparison of rule-based and...
11           Argumentation in artificial intelligence
12  Algorithms for computing strategies in two-pla...
13      Multiple object tracking: A literature review
14  Selection of relevant features and examples in...
15  A survey of inverse reinforcement learning: Ch...
16  Explaining individual predictions when feature...
17  A review of possible effects of cognitive bias...
18  Integrating social power into the decision-mak...
19  “That's (not) the output I expected!” On the r...
20  Explaining black-box classifiers using post-ho...
21  Algorithm runtime prediction: Methods & evalua...
22              Wrappers for feature subset selection
23  Commonsense visual sensemaking for autonomous ...
24         Quantum computation, quantum theory and AI

                                              Authors            Date  \
0   Silver, David, Singh, Satinder, Precup, Doina,...    October 2021
1           Evans, Richard, Bošnjak, Matko and 5 more    October 2021
2                   Prakken, Henry, Sartor, Giovanni     October 2015
3                                 Boden, Margaret A.      August 1998
4     Lemaignan, Séverin, Warnier, Mathieu and 3 more       June 2017
5                                        Miller, Tim    February 2019
6   Evans, Richard, Hernández-Orallo, José and 3 more      April 2021
7   Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...   February 2015
8   Sutton, Richard S., Precup, Doina, Singh, Sati...     August 1999
9         Bard, Nolan, Foerster, Jakob N. and 13 more      March 2020
10  van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...   February 2021
11               Bench-Capon, T.J.M., Dunne, Paul E.     October 2007
12       Bošanský, Branislav, Lisý, Viliam and 3 more     August 2016
13             Luo, Wenhan, Xing, Junliang and 4 more      April 2021
14                      Blum, Avrim L., Langley, Pat    December 1997
15                   Arora, Saurabh, Doshi, Prashant      August 2021
16      Aas, Kjersti, Jullum, Martin, Løland, Anders   September 2021
17  Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...       June 2021
18    Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.    December 2016
19                      Riveiro, Maria, Thill, Serge   September 2021
20  Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...        May 2021
21  Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...    January 2014
22                      Kohavi, Ron, John, George H.    December 1997
23  Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...    October 2021
24                                   Ying, Mingsheng    February 2010

                                                 Link
0   https://www.sciencedirect.com/science/article/...
1   https://www.sciencedirect.com/science/article/...
2   https://www.sciencedirect.com/science/article/...
3   https://www.sciencedirect.com/science/article/...
4   https://www.sciencedirect.com/science/article/...
5   https://www.sciencedirect.com/science/article/...
6   https://www.sciencedirect.com/science/article/...
7   https://www.sciencedirect.com/science/article/...
8   https://www.sciencedirect.com/science/article/...
9   https://www.sciencedirect.com/science/article/...
10  https://www.sciencedirect.com/science/article/...
11  https://www.sciencedirect.com/science/article/...
12  https://www.sciencedirect.com/science/article/...
13  https://www.sciencedirect.com/science/article/...
14  https://www.sciencedirect.com/science/article/...
15  https://www.sciencedirect.com/science/article/...
16  https://www.sciencedirect.com/science/article/...
17  https://www.sciencedirect.com/science/article/...
18  https://www.sciencedirect.com/science/article/...
19  https://www.sciencedirect.com/science/article/...
20  https://www.sciencedirect.com/science/article/...
21  https://www.sciencedirect.com/science/article/...
22  https://www.sciencedirect.com/science/article/...
23  https://www.sciencedirect.com/science/article/...
24  https://www.sciencedirect.com/science/article/...

RESTAURANTS DETAILS

In [3]:
#send get request to the webpage server to get the source code of the page and download the page content
soup=BeautifulSoup(requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special').content,'html.parser')

# Scrape Restaurant name
name=[i.text.split(',')[0] for i in soup.find_all('div',class_='restnt-info cursor')]

# Scrape cuisine
cuisine=[i.text.split('|')[1] for i in soup.find_all('span',class_="double-line-ellipsis")] 

# Scrape location
location=[i.text for i in soup.find_all('div',class_='restnt-loc ellipsis')] 

# Scrape rating
rating=[i.text for i in soup.find_all('div',class_='restnt-rating rating-4')]

# Scrap url of image
image=[i['data-src'] for i in soup.find_all("img", class_="no-img")] 

# Create DataFrame
df=pd.DataFrame({'Restaurant Name':name,'Cuisine':cuisine,'Location':location,"Rating":rating,"Image_url": image})

df

,Restaurant Name,Cuisine,Location,Rating,Image_url
0,Castle BarbequeConnaught Place,"Chinese, North Indian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree3CS Mall,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Cafe KnoshThe Leela Ambience Convention Hotel,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
3,Castle BarbequePacific Mall,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque CompanyGardens Galleria,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
5,India GrillHilton Garden Inn,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi BarbequeTaurus Sarovar Portico,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.6,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que VillageIndirapuram Ha...,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill RoomSuncity Business Tower,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...